[2017-02-23 01:33] lucascbeyeler opened #1 "Use a database to store sessions.txt rather than a file"
Today, zmbackup use the file session.txt as a way to store the backup's history. This file is susceptible to failures and zmbackup only use this file because zmbkpose used before the fork. Now, that this application is restructured, is a good time to study a better way to store this log.

Two good candidates are MariaDB and PostgreSQL.

[2017-02-23 01:38] lucascbeyeler opened #2 "Zmbackup need to find a way to restore after a broken backup"
If something kills the process, or you stop the process in the middle of the execution, when you start zmbackup again, it will create a new backup session for the rest of the accounts. The correct is the script complete the previous backup, rather than create a new one and stay with two different folders for the same process.

[2017-02-23 01:40] lucascbeyeler opened #3 "Better backup rotation"
Zmbackup only exclude the backup you ask to remove, not rotate them. Zmbkpose had the option, but never works. You should implement a new way to rotate the backups with the same options present in zmbkpose, plus the one implemented in the client ViaSoft.

[2017-02-23 01:41] lucascbeyeler opened #4 "Store backups in AWS Glacier"
Zmbackup only stores the files in a folder locally. The script should have a option for you import the backups directly to AWS Glacier, if the client wants.

[2017-02-23 01:43] lucascbeyeler opened #5 "Network backup"
Some peoples find annoying the fact that you can only backup if the script is running in the same server that should be backed up. Modify the script to don't have this dependency.

[2017-02-23 01:44] lucascbeyeler opened #6 "Create zmbackup documentation"
Document everything done in this project inside the wiki.

[2017-02-23 01:45] lucascbeyeler opened #7 "zmbackup admin account should be delegated, and not a full access account."
zmbackup uses an admin account with full access. The correct is this account have only the necessary to access the SOAP API for mailbox download and upload.

[2017-02-23 01:53] lucascbeyeler opened #8 "zmbackup -l should show more information"
The zmbackup -l now only shows size and type. Other informations, like quantity and time, should be displayed.

[2017-03-04 13:03] lucascbeyeler commented on #7
Impossible because the delegate account has no access to administrative accounts.

[2017-03-04 13:03] #7 closed

[2017-03-04 16:21] lucascbeyeler commented on #8
Implemented

[2017-03-04 16:21] #8 closed

[2017-03-04 16:21] lucascbeyeler commented on #3
Implemented

[2017-03-04 16:21] #3 closed

[2017-03-13 17:36] lucascbeyeler opened #10 "CRITICAL - Restore backups hangs during the execution"
Reported by: kharinva@****.com

When you try to execute the restore, the process hangs and nothing happens.

Motive: the functions create_temp was not called by none of the restore activities, and all these functions open the file $TEMPACCOUNT to know which account should be restored.

[2017-03-14 01:21] lucascbeyeler commented on #10
FIXED

[2017-03-14 01:21] #10 closed

[2017-03-14 13:27] lucascbeyeler opened #15 "Non-critical: zmbackup -h show wrong instructions"
Reported by: kharinva@****.com

I need to change the zmbackup to show the correct instructions for each command, as today a lot of info is missing or described wrong.

[2017-03-17 20:07] lucascbeyeler commented on #15
FIXED

[2017-03-17 20:07] #15 closed

[2017-03-21 09:30] samrocks1011 opened #18 "Process to restore the zimbra backup"
Dear Sir,

I have successfull taken eh full backup of zimbra using zmbackup -f command.
The new zimbra machine is ready and trying to restore the backup using zmbackup -r. But the error comes **"Error!  Incorrect options"**  Please let me know the option that i need to include to restore the  full backup.

[2017-03-21 10:45] lucascbeyeler commented on #18
Dear @samrocks1011

To do a restore you need to inform what kind of restore do you want. If it is a mailbox restore, use -m, or if you trying to restore a ldap account use -ldp. For example:

`zmbackup -r -ldp <session> <account>`

`zmbackup -r -m <session> <account>`

zmbackup does not restore yet the ldap and the mailbox at the same time.

Regards,
Lucas Costa Beyeler

[2017-03-21 22:32] mkaliyannan opened #19 "Zimbra incremental backup doens't work."
I am not sure Incremental backups not working

[code]

Tried with account name as well : It's not working.

** Thanks for your great effort **

[2017-03-21 23:50] lucascbeyeler commented on #19
Hello @mkaliyannan,

Can you tell me if you already did a backup today? If you did the zmbackup does not do more than 1 backup per day for each option (full and incremental count as the same). I'm going to create a --force option to override this, and complete de documentation to inform this limitation.

Thanks for your support.

Regards,
Lucas Costa Beyeler

[2017-03-21 23:52] lucascbeyeler commented on #18
Dear @samrocks1011

As you didn't return if this answer your question, I'm closing this issue. Feel free to re-open if needed.

Regards,
Lucas Costa Beyeler

[2017-03-22 04:26] samrocks1011 commented on #18
Dear @lucascbeyeler
Sorry for the late reply. I executed the following command **"zmbackup -r -ldp full-20170318123250 sandeep@sjcet.co.in"** . I received a output saying **"No backup found. Impossible to restore"**.
Backup Directory in zmconfig.conf file:- /backup
Owner of the /backup is zimbra.
full backup session in sessions.txt file  :- full-20170318123250

Is something I am doing wrong. Pleas

[2017-03-22 12:54] lucascbeyeler commented on #18
Dear @samrocks1011

Which version are you using?

To get the version, please run "zmbackup -v" and post here. It's actually just this. If the sessions.txt aren't excluded, the restore should be working.

Regards,
Lucas Costa Beyeler

[2017-03-22 12:55] lucascbeyeler commented on #19
Dear @mkaliyannan,

As you didn't return if this answer your question, I'm closing this issue. Feel free to re-open if needed.

Regards,
Lucas Costa Beyeler

[2017-03-22 12:55] #19 closed

[2017-03-22 13:34] lucascbeyeler commented on #18
Dear @samrocks1011

I made a new update in zmbackup because I could simulate your error even in the most recent release. Please, update your version and try again to see if the bug persist.

Thanks for your support.

[2017-03-23 03:28] samrocks1011 commented on #18
zmbackup version: 1.0.1

[2017-03-23 13:16] lucascbeyeler commented on #18
@samrocks1011

First: Did you try the new release? I launched yesterday the version 1.0.2.

Second: Can you tell me if the backup for this account was done correctly? Can you tell me if the file is not empty?

Regards,
Lucas Costa Beyeler

[2017-03-24 07:58] samrocks1011 commented on #18
@lucascbeyeler

I haven't tried with the new version 1.0.2.  I will be testing the new version today and will provide the status.

[2017-03-24 10:04] antonzhelyazkov opened #22 "PID file"
Hi,

It is great that you develop zimbra backup system. I have several recommendations:

1. Add PID file creation while script is running
2. Could you add option to transfer older files to remote location via FTP?

[2017-03-24 11:30] samrocks1011 commented on #18
@lucascbeyeler
It was successful restore. I was trying to restore the data to fresh zimbra on new server. The new server was not having domain. When i created one domain and run the restore process I was able to successful restore the User and mailbox.
Thanks for the support.

[2017-03-24 12:43] lucascbeyeler commented on #18
@samrocks1011

Thanks for the return. If the problem return, please feel free to reopen the issue

[2017-03-24 12:43] #18 closed

[2017-03-24 13:17] lucascbeyeler commented on #22
Hello @antonzhelyazkov,

Thanks for the return. The first one is simple to implement and I think in this weekend I release a new version with this feature. The problem is the second one: This one will take sometime to complete, as I need to change some parts to send the files via FTP. When both are working I answer this issue.

Regards,
Lucas Costa Beyeler

[2017-03-24 13:22] lucascbeyeler opened #23 "Include --force option to override "1 backup per day""
zmbackup only does one backup per day. I need to create a --force option to override this limitation if the user want to do another backup in the same day.

[2017-03-25 07:16] samrocks1011 opened #24 "Incremantal backup issue"
@lucascbeyeler

Incremental backup take backup of any new user is created in zimbra. It does not take the backup of modified data of current user present at the time of Full backup.
Command executed zmbackup -i
Please help me with the solution.

[2017-03-25 11:54] lucascbeyeler commented on #24
Hello @samrocks1011,

Can you describe better what's happening with the process? This explanation you gave me were a little confuse, to be honest.

Regards,
Lucas Costa Beyeler

[2017-03-28 21:55] mkaliyannan commented on #19
Hey @lucascbeyeler  sorry for the delay. Thanks .. I did backup already.. I will let you kow if any issues.

[2017-03-29 01:30] lucascbeyeler opened #25 "CRITICAL - Zmbackup does not register a successful backup if the wget fail or empty mailbox file"
If an account fail to backup because some problem in Zimbra API, or because the mailbox is empty, the zmbackup does not register as a successful backup, even if the ldiff file was created.

[2017-03-30 14:59] lucascbeyeler commented on #24
Dear @samrocks1011,

As you didn't answer my question, I'm closing this issue. Feel free to re-open if needed.

Regards,
Lucas Costa Beyeler

[2017-03-30 14:59] #24 closed

[2017-04-13 02:10] lucascbeyeler opened #26 "CRITICAL - Zmbackup does a full restore of all the accounts if an incremental does not exist"
There is a error inside the logic behind the Incremental Backup, where if no full backup exist, one should be done. But it does a full backup of all accounts, not only the asked one. The correct behavior is check if the account that should be made an incremental backup has a full backup, if not do an incremental in place.

[2017-04-13 02:34] lucascbeyeler commented on #25
FIXED

[2017-04-13 02:34] #25 closed

[2017-04-13 03:27] lucascbeyeler commented on #23
FIXED

[2017-04-13 03:27] #23 closed

[2017-04-14 01:59] lucascbeyeler commented on #26
FIXED IN BRANCH DEV

[2017-04-14 01:59] #26 closed

[2017-04-14 14:16] lucascbeyeler opened #28 "New Feature: Include a better log and support with rsyslog"
Until now, all the log from zmbackup is stored inside a file called zmbackup.log. From now on the log should be managed by rsyslog, and should show better messages.

[2017-04-14 14:52] lucascbeyeler opened #29 "New Feature: Save files inside a SQLite base ratter than inside a TXT File"
The backup should be stored inside a SQLite file for better management and security. The old TXT file (sessions.txt) will be discontinued because the logic behind the zmbackup is growing, and storing inside a file make difficult to bring some new features.

[2017-04-14 15:32] lucascbeyeler commented on #22
Hello @antonzhelyazkov,

Sorry for the delay, but the PID file you asked is working in the release 1.1.0. Can you please test and give me some feedback? I will wait for your return.

Regards,
Lucas Costa Beyeler

[2017-04-17 14:40] MarcielMeurer opened #31 "Error RestoreonAccount"
The script for restore not found the archive in  /backup/sessions.txt
My backup directory is in /opt/zimbra/backup
The  message say SUCCESS, but isn't really.

_ $ zmbackup -r -ro  full-20170417111450  user1@mydomain.com restore@mydomain.com
grep: /backup/sessions.txt: Arquivo ou diretório não encontrado
Restore mail process started at - Seg Abr 17 11:29:21 -03 2017

Restoring Session - restore@my

[2017-04-17 16:15] lucascbeyeler commented on #31
Good afternoon @MarcielMeurer ,

Could you please update the zmbackup to the release 1.1.1 and try again? I think i might fixed your bug.

Regards,
Lucas Costa Beyeler

[2017-04-17 18:53] MarcielMeurer commented on #31
@lucascbeyeler , i had updated,  before adjust the line 136 , with the adjust the message don't have displayed. The restore mensagem is SUCCESS, but the restore don't execute.
I'm attached the script;
[debug_restore.txt](https://github.com/lucascbeyeler/zmbackup/files/926379/debug_restore.txt)

I used  zmbackup version: 1.1.1

Regards,
Marciel Meurer

[2017-04-19 00:36] lucascbeyeler commented on #31
@MarcielMeurer , I fixed this time the zmbackup for good! It wasn't the fact your folders was inside /opt/zimbra/backup that you can't do any restore. The Restore on Account option stopped working after the last update and I didn't notice. I fixed now and release a new update. Could you please update your version and try again?

Regards,
Lucas Costa Beyeler

[2017-04-19 14:44] MarcielMeurer commented on #31
@lucascbeyeler Thanks, its Working. I have successfully tested with unique full backup. Question: I can restore from incremental backup?

[2017-04-19 17:27] lucascbeyeler commented on #31
@MarcielMeurer, yes you can.

[2017-04-20 07:06] saschadd opened #34 "ldap_bkp not implemented"
Hi lucas,
when i try to backup ldap i get an error message that ldap_bkp in line 516 is not implemented.
It looks like that the function is missing in the script.

[2017-04-20 17:30] lucascbeyeler commented on #31
Dear @MarcielMeurer,

I'm closing this issue, as it's already fixed. Feel free to reopen if the bug occur again.

Regards,
Lucas Costa Beyeler

[2017-04-20 17:30] #31 closed

[2017-04-21 15:42] lucascbeyeler commented on #34
Good morning @saschadd ,

Could you please try again? I fixed this bug in release 1.1.3.

Regards,
Lucas Costa Beyeler

[2017-04-21 17:09] saschadd commented on #34
Hi Lucas,
ldap backup works! Thank you.
Don't have the time to test ldap restore at the moment.

Regards, Sascha

[2017-04-21 17:27] lucascbeyeler commented on #34
@saschadd Thanks for your answer and your support. I'm closing the issue, but feel free to reopen if the bug returns.

Regards,
Lucas Costa Beyeler

[2017-04-21 17:27] #34 closed

[2017-04-25 14:52] antonzhelyazkov commented on #22
Thanks,

It seems works correct.
I have another issue. I'll open a new issue.

[2017-04-25 14:52] #22 closed

[2017-05-02 07:08] antonzhelyazkov opened #36 "mail filter backup"
Hi,

You could add users mail filter backup. I wrote simple script to do it

cat /backups/zmigrate/filters-export.sh
#!/bin/bash
set -x
clear
echo “Retrieve zimbra user name…”
USERS=`cat /backups/zmigrate/emails.txt`;
for ACCOUNT in $USERS; do
NAME=`echo $ACCOUNT`;
filter=`su – zimbra -c “zmprov ga $NAME zimbraMailSieveScript” > /tmp/$NAME`
sed -i -e “1d” /tmp/$NAME
sed ‘s/zimbraMailSieveScript: /

[2017-05-02 07:11] antonzhelyazkov opened #37 "max parallel processes"
Hi,

it seems that MAX_PARALLEL_PROCESS works wrong. If I set this property to 2 it starts 4 parallel processes.

[2017-05-11 08:48] antonzhelyazkov opened #38 "edit cron job"
Hi,

It seems that house keep - zmbhousekeep could not be started from cron, bebause in /etc/cron.d/zmbackup.cron house keep script is named as zmhousekeep. Could you replace zmhousekeep with zmbhousekeep

[2017-05-14 13:26] lucascbeyeler commented on #38
Good morning @antonzhelyazkov ,

Sorry for the later answer, but this bug is already fixed in the release 1.1.4. Can you please try again?

Regards,
Lucas Costa Beyeler

[2017-05-14 13:26] lucascbeyeler commented on #37
Good morning @antonzhelyazkov ,

Sorry for the later answer, but this bug is already fixed in the release 1.1.4. Can you please try again?

Regards,
Lucas Costa Beyeler

[2017-05-14 13:29] lucascbeyeler commented on #36
Good morning @antonzhelyazkov ,

I'm going to implement this in the next release of Zmbackup (1.2). About your code, can you provide the same solution, but with the ldapsearch command? Zmprov is a little slow to execute and I think it will affect the entire backup process...

Regards,

Lucas Costa Beyeler

[2017-05-17 06:59] antonzhelyazkov commented on #37
Hi @lucascbeyeler,

It works correct at the moment.

[2017-05-17 06:59] #37 closed

[2017-05-17 07:01] antonzhelyazkov commented on #38
Hi @lucascbeyeler,

Cron is fixed.

[2017-05-17 07:01] #38 closed

[2017-05-21 18:03] zenatuz opened #41 "I can't run backups | DNS SRV: out of memory?"
Hey Lucas,

I'm trying do a backup, but when I run the command, I have this issue, `DNS SRV: out of memory?`.

[code]
How can I fix it? Do I need to do any different configuration when I run the wizard?

P.S.: I did the installation process without change any option.

Thanks.

[2017-05-21 23:45] lucascbeyeler commented on #41
Good evening @zenatuz ,

The problem probably is the multithread feature. For default, the zmbackup work with 3 threads at the same time, but it's looks like your server don't work very well with this amount. Can you please open the file /etc/zmbackup/zmbackup.conf and change the MAX_PARALLEL_PROCESS option from 3 to 1 and try again?

Regards,
Lucas Costa Beyeler

[2017-05-23 00:41] zenatuz commented on #41
Hey @lucascbeyeler,

I've found the solution, I needed to change the value of a few variables in the zmbackup.conf, puting the server IP address.
I've found the solution in this post: https://github.com/bggo/Zmbkpose/issues/43

Thanks anyway.

[2017-05-23 13:39] lucascbeyeler commented on #41
Good morning @zenatuz ,

Strange that you need to change this value in your conf, because the zmbackup_wizard should provide the correct value. Does the field was empty?

Question: do you put the IP address of your server inside the /etc/hosts?

I'm marking this as bug related to zmbackup_wizard for now.

Regards,
Lucas Costa Beyeler

[2017-05-23 16:47] zenatuz commented on #41
Hey @lucascbeyeler, good afternoon.

No, the fields wasn't empty, but they had a variable, I don't remember wich were.
I'm not sure about the /etc/hosts/, maybe this was the source of the problem. I'll check later and let you know about this setting.

Thanks for the feedback.

Renato Batista.

[2017-05-24 00:29] zenatuz commented on #41
Hey @lucascbeyeler,

Settings were ok on /etc/hosts.
I don't know what happened during the installation. Hehe.

Regards.

[2017-06-18 16:15] lucascbeyeler commented on #28
IMPLEMENTED

[2017-06-18 16:15] #28 closed

[2017-07-16 20:13] lucascbeyeler commented on #41
Closing this issue because this bug was fixed in branch DEV

[2017-07-16 20:13] #41 closed

[2017-08-06 12:48] lucascbeyeler commented on #6
INCLUDED IN  1.2.0

[2017-08-06 12:48] #6 closed

[2017-08-09 14:31] ozererik opened #44 "I can't restore backup file to mailbox"
Hi,

I backup my mailboxes via zmbackup. My zmbackup version is 1.1.6

My backup folder is /mnt/zimbra1/.

But, when I want restore backup to mailbox I get error. It has ozer.erik@safaksaglikgrubu.com.tgz file in /mnt/zimbra1/full-20170809020001

When I use this command: zmbackup -r -m full-20170809020001 ozer.erik@safaksaglikgrubu.com
Answer: No backup found. Impossible to restore

What am I doin

[2017-08-09 14:55] lucascbeyeler commented on #44
Hi @ozererik ,

Thanks for your report. I'm checking this bug right now.

Regards,
Lucas Costa Beyeler

[2017-08-13 14:32] lucascbeyeler commented on #44
Hi @ozererik ,

I'm testing the zmbackup, but I can't reproduce your problem. Can you tell me the version of your Zimbra and OS? Can you check if this backup appears if you use the commando zmbackup -l?

Regards,
Lucas Costa Beyeler

[2017-08-14 08:28] ozererik commented on #44
Hi @lucascbeyeler ,

My OS Version is CentOS release 6.9 (Final). Zimbra Version is Release 8.7.11_GA_1854.RHEL6_64_20170531151956 RHEL6_64 FOSS edition.

zmbackup -l result is below.

[zimbra@mail ~]$  zmbackup -l

Session: alias-20170809013001
    Size: 72K
Accounts: 18
    Type: Alias Backup

Session: alias-20170810013002
    Size: 72K
Accounts: 18
    Type: Alias Backup

Session: alias-2017081

[2017-08-15 09:52] lowlowtony opened #45 "incremental backup issue"
Hello, first of all thanks for the script.
My zimbra version - Release 8.7.11_GA_1854.RHEL7_64_20170531151956 RHEL7_64 FOSS edition.

I ran into strange thing - with total mailbox size 32gb increment backup lasts more than 3 days.

SESSION: inc-20170811020001 started on Fri Aug 11 02:00:03 EEST 2017
SESSION: inc-20170811020001 completed in Mon Aug 14 15:42:11 EEST 2017

At the same time full backu

[2017-08-15 13:10] lucascbeyeler commented on #45
Hi @lowlowtony,

No, this not normal. If you try again the same process, the bug occurs? Can you check the size of the incremental and see if it is lower than the full backup? This is installed in the same server your Zimbra is?

Can you check the resource of your machine at that moment? Maybe some process consumed all the CPU during the weekend, maybe even the Zmbackup is the culprit. Try modifin

[2017-08-15 14:16] lowlowtony commented on #45
1. I've tried it several times and nothing changes. In crontab i exclude increment backups but there are some processes still alive after 3 days and temp folders named FJ1n Pnms PvNZ exist in backup folder.
2. Size of successful inc backup is 78mb and looks correct.
3. Yes, the same Zimbra server.
4. Zabbix average stats for weekend - CPU consumption 30% after starting inc backups, memory 3.7gb/6g

[2017-08-17 07:36] peroda commented on #44
I have the same problem. I can not restore account
CentOS Linux release 7.3.1611 (Core)
Zimbra 8.7.3_GA_1750 (build 20170215042321)
[zimbra@mail full-20170817020001]$ zmbackup -v
zmbackup version: 1.1.6

[2017-08-19 08:12] lowlowtony commented on #45
Okay. Nothing changes. Increment backup lasts few days.
Furthermore i installed new zimbra server for our new client. Mailbox size - 10gb, zmbackup version: 1.1.6, MAX_PARALLEL_PROCESS = 1, zimbra version - 8.7.11, increment backup still working after 9 hours.

[2017-08-31 18:12] lucascbeyeler commented on #44
@peroda and @ozererik , Good afternoon,

Sorry for the long delay for this patch. I finally fixed the bug and the version 1.1.7 has this patch included. Can you both try again and, if the problem persist, answer this issue?

Regards,
Lucas Costa Beyeler

[2017-09-03 11:17] #1 closed

[2017-09-03 11:17] lucascbeyeler commented on #1
Implemented

[2017-09-03 11:17] lucascbeyeler commented on #29
Implemented

[2017-09-03 11:17] #29 closed

[2017-09-03 11:20] lucascbeyeler opened #47 "Zmbackup -r restore LDAP and Mailbox if the user don't send any other parameter"
Zmbkpose today restore LDAP and Mailbox if the user start a restore process. Zmbackup should do the same thing, but keep the possibility to do separately.

[2017-09-03 18:45] lucascbeyeler commented on #47
Implemented

[2017-09-03 18:45] #47 closed

[2017-09-04 07:08] peroda commented on #44
thanks but the patch does not work.

[zimbra@mail ~]$ zmbackup -v
zmbackup version: 1.1.7

[2017-09-04 12:06] lucascbeyeler commented on #44
@peroda, good morning

Your problem is that you inverted the parameters. Try this way:

zmbackup -r -m full-20170817020001 cuenta@dominio.es

The account is the last thing you inform.

Regards,
Lucas Costa Beyeler

[2017-09-04 13:12] peroda commented on #44
@lucascbeyeler,  Good afternoon,
Works correctly. Thank you very much

zmbackup -r -m full-20170904020001 cuenta@dominio.es  [OK]
zmbackup -r -ro full-20170904020001 cuenta_origen@dominio.es cuenta_destino@dominio.es [OK]

[2017-09-04 14:21] ozererik commented on #44
Hi @lucascbeyeler ,

I updated zmbackup.

[zimbra@mail full-20170903193001]$ zmbackup -v
zmbackup version: 1.1.7

My Backup Folder is /mnt/zimbra

My full backup files:

[zimbra@mail full-20170903193001]$ ls -l
total 147752
-rw-r----- 1 zimbra zimbra      791 Sep  3 19:28 bilgi@doganhukuk.com.ldiff
-rw-r----- 1 zimbra zimbra     1535 Sep  3 19:28 bilgi@doganhukuk.com.tgz
-rw-r----- 1 zimbra zimbra

[2017-09-04 14:36] peroda commented on #44
@ozererik,  zmbackup_wizard ??
Do you have "WORKDIR=/mnt/zimbra" in file /etc/zmbackup/zmbackup.conf  ??

[2017-09-04 14:49] ozererik commented on #44
Yes I have,

[17:46:34@0] [root@mail.doganhukuk.com:/mnt/zimbra]# cat /etc/zmbackup/zmbackup.conf
###############################################################################
#                        ZMBACKUP CONFIGURATION FILE                          #
###############################################################################
# This file is used to manage the behavior of the zmbackup. Pl

[2017-09-04 14:51] lucascbeyeler commented on #44
@ozererik , good morning.

Do you have an LDAP session? If yes, I found the bug I hate myself to forgot that!

Regards,
Lucas Costa Beyeler

[2017-09-04 23:48] lucascbeyeler commented on #45
@lowlowtony , good night. Sorry for the long delay to answer you. I made some modifications inside Zmbackup to kill wget after 5 seconds if the connection doesn't work.

Another thing I want to ask about the incremental: did you try use localhost (127.0.0.1) as MAILHOST inside zmbackup.conf? How many accounts are you trying backing up?

I'm trying to simulate your problem, but in none of my tests

[2017-09-04 23:51] lucascbeyeler commented on #44
@ozererik @peroda , good evening!

I made the fix and now is working. Can you both try again the restore?

Regards,
Lucas Costa Beyeler

[2017-09-05 06:21] peroda commented on #44
@lucascbeyeler, good morning,
 zmbackup work good, but I have noticed that the sent folder is not copied.
Does all folder are backed in full backup?

zmbackup -r -m full-20170904020001 cuenta@dominio.es
Restore mail process started at - Tue Sep  5 08:02:32 CEST 2017

Restoring Session - full-20170904020001
Session full-20170904020001 restored with SUCCESS

Restoring Session - inc-20170829020001
Se

[2017-09-05 12:08] lucascbeyeler commented on #44
@peroda, good morning,

Yes, zmbackup backed all folders except Trash and Spam, but this is a limitation from Zimbra. I already test the send folder and he was backed up normally.

Regards,
Lucas Costa Beyeler

[2017-09-05 13:22] peroda commented on #44
ok, work with zmbackup 1.1.8.
Thanks.

[2017-09-06 22:18] lucascbeyeler commented on #44
@ozererik, Can you validate if with this version the problem persist?

[2017-09-07 12:09] ozererik commented on #44
Unfortunately. I can't restore backup.

[zimbra@mail zimbra]$ zmbackup -v
zmbackup version: 1.1.8

[zimbra@mail zimbra]$ zmbackup -r -m full-20170903193001 ozer.erik@doganhukuk.com
No backup found. Impossible to restore

If it does'nt work, i will restore the backup manually.

[2017-09-07 12:49] peroda commented on #44
@ozererik,
It worked for me:
1. I erase all copies
2. I ran zmbackup again:
    -zmbackup -f -al
    -zmbackup -f -dl
    -zmbackup -f

[2017-09-07 12:59] lucascbeyeler commented on #44
@ozererik, Try again with version 1.1.9 - I removed the full + inc restore from this release.

EDIT:

Do you have a Gitter account? I created a room there where we can talk about this, if you want. I'm online at this moment.

https://gitter.im/zmbackup/Lobby?utm_source=share-link&utm_medium=link&utm_campaign=share-link

[2017-09-07 13:58] ozererik commented on #44
Yes, I updated to 1.1.9 and it is worked!

[zimbra@mail ~]$ zmbackup -v
zmbackup version: 1.1.9

[zimbra@mail ~]$ zmbackup -r -m full-20170903193001 ozer.erik@doganhukuk.com
Restore mail process started at - Thu Sep  7 16:55:33 +03 2017

Restoring Session - full-20170903193001
Session full-20170903193001 restored with SUCCESS

Restore mail process completed at - Thu Sep  7 16:55:34 +03 2017

[2017-09-07 14:08] lucascbeyeler commented on #44
@ozererik Good to know :+1:

I'm closing this issue because now the bug is fixed! Feel free to reopen if the bug return.

Have a nice day and thanks for your support.

Regards,
Lucas Costa Beyeler

[2017-09-07 14:08] #44 closed

[2017-09-17 03:29] lucascbeyeler opened #51 "Release Candidate Checklist"
##### ISSUE TYPE
- Checklist

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.0 Release Candidate
- Zimbra Version: 8.7.11
- Linux Distribution & Version: Ubuntu & CentOS

##### SUMMARY
Bellow there are all the bugs found during the tests and that will be needed to fix before the next release.

- [x] Zmbackup is deleting lock file if you run a second time - should keep until the first time is ru

[2017-09-17 15:36] lucascbeyeler opened #52 "Documentation Checklist"
##### ISSUE TYPE
- Checklist

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.0 Release Candidate
- Zimbra Version: 8.7.11
- Linux Distribution & Version: Ubuntu & CentOS

##### SUMMARY
Bellow there are the pages need to be wrote as part of the documentation before the release of Zmbackup 1.2.0

- [x] Introduction;
- [ ] Installation;
- [ ] Inside Zmbackup;
- [ ] Backup;
- [ ] Restore;
- [ ] Tra

[2017-09-25 06:50] antonzhelyazkov opened #53 "backup zimbra server configuration"
ISSUE TYPE: Question

ENVIRONMENT VERSION: Zimbra

SUMMARY: Zimbra backup server configuration

Hi,

I am looking for procedure how to backup zimbra server configuration. Do you have ideas how to backup server configuration?

[2017-09-26 16:26] lucascbeyeler commented on #45
Hello @lowlowtony ,

I'm closing this issue, but you can reopen if you need. Remember to answer my questions before reopen.

Regards,
Lucas Costa Beyeler

[2017-09-26 16:26] #45 closed

[2017-09-26 16:28] lucascbeyeler commented on #53
All of them? Sorry @antonzhelyazkov, I don't know an easy way to backup all of them. I have plans to implement this in the future. Maybe the backup of the entire base solve your problem?

Regards,
Lucas Costa Beyeler

[2017-09-27 06:00] antonzhelyazkov commented on #53
Thank you lucascbeyeler

[2017-09-27 06:00] #53 closed, assigned to lucascbeyeler

[2017-10-08 18:16] lucascbeyeler commented on #2
Not gonna restore after a broken backup, but instead will remove everything and act like no backup was did.

[2017-10-08 18:16] #2 closed

[2017-10-08 21:50] lucascbeyeler commented on #51
All fixed! Releasing the Release Candidate 1 and return to the tests.

[2017-10-08 21:50] #51 closed, assigned to lucascbeyeler

[2017-11-27 10:28] andreaPress opened #54 "parallel: Error: Command (--no-notice) starts with '-'. Is this a wrong option?"
Hi,
I'm sorry but we're on ZCS-8.7.11 and I've some problems with this backup script.

zmbackup --full
parallel: Warning: YOU ARE USING --tollef. IF THINGS ARE ACTING WEIRD USE --gnu.
parallel: Warning: --tollef is obsolete and will be retired 20140222.
parallel: Warning: See: http://lists.gnu.org/archive/html/parallel/2013-02/msg00018.html
Backup session full-20171127111316 started on Mon Nov 27

[2017-12-06 13:23] lucascbeyeler commented on #54
Hello @andreaPress,

Can you please answer the issue form for me? I need the following questions answered to start checking your problem:

##### ENVIRONMENT VERSION
- Zmbackup Version:
- Zimbra Version:
- Linux Distribution & Version:

Regards,
Lucas Costa Beyeler

[2017-12-07 09:07] andreaPress commented on #54
Hi,
thanks for the reply, here's the information you asked for:

Zmbackup Version: latest from github
Zimbra Version: 8.7.11 GA Release
Linux Distribution & Version: Centos 6

Thank you very much.
Kind Regards,
Andrea

[2018-01-10 23:42] lucascbeyeler opened #56 "Support to CentOS 6"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2 RC
- Zimbra Version: 8.8
- Linux Distribution & Version: CentOS 6

##### SUMMARY

There are a lot of bugs for CentOS 6, mostly that the script doesn't work very well for the OS. I need to test the script and fix all the bugs that is occuring in this version of the OS before the next release.

[2018-01-10 23:48] lucascbeyeler opened #57 "Support to Zimbra 8.8"
##### ISSUE TYPE
- Feature Idea

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2 RC
- Zimbra Version: 8.8
- Linux Distribution & Version: Any Distribution

##### SUMMARY

We need to validate the script in the new release of Zimbra if it is working with no problem.

[2018-01-10 23:49] #4 closed

[2018-01-10 23:49] #5 closed

[2018-01-19 13:57] lucascbeyeler commented on #54
@andreaPress,

Sorry for the delay, can you test with the new release if the bug persist?

Regards,
Lucas Costa Beyeler

[2018-01-20 18:08] sardigital commented on #57
Zimbra 8.8.6 backuped.
SESSION: full-20180120153225 completed in Sat Jan 20 21:16:55 +04 2018

[2018-01-20 20:45] mailanetworks commented on #57
Hi @sardigital

 [zimbra@mail ~]$ zmcontrol -v
Release 8.8.6_GA_1906.RHEL7_64_20171130041047 RHEL7_64 FOSS edition.
[zimbra@mail ~]$ zmbackup -v
zmbackup version: 1.2.0 - Release Candidate 2
[zimbra@mail ~]$ zmbackup -f
Nothing to do. Closing...

If I change the address on the zmbackup.conf from 127.0.0.1 to the real address, then nothing gets backuped, although you'll receive the above message.

[2018-01-21 14:09] lucascbeyeler commented on #57
Hi @mailanetworks and @sardigital, I'm closing this issue because RC2 is working with Zimbra 8.8 in CentOS 6/7 and Ubuntu 14/16.

About the problem that it is not backing up: you need to point Zmbackup to the address your LDAP is listening. The first thing the script will do is get all the accounts that need to backed up from there.

If the problem persist, please open a issue exclusive for this p

[2018-01-21 14:09] #57 closed, assigned to lucascbeyeler

[2018-01-21 14:10] lucascbeyeler commented on #56
FIXED

[2018-01-21 14:10] #56 closed, assigned to lucascbeyeler

[2018-01-22 14:45] ondrejneufinger commented on #54
Hello,
I have
zimbra 8.7.11
centos 6.9
zmbackup version: 1.2.0 - Release Candidate 2
and it is working
Thank you

[2018-01-22 14:51] andreaPress commented on #54
Hi,
don't worry for the delay.
Thank you very much.
Now it's working like a charm.

[2018-01-22 20:27] lucascbeyeler commented on #54
Hello @andreaPress and @ondrejneufinger,

Good to know that it's working.

I'm closing this issue as solved.

Thanks for your support and have a nice day!

Regards,
Lucas Costa Beyeler

[2018-01-22 20:27] #54 closed, assigned to lucascbeyeler

[2018-01-22 20:37] lucascbeyeler opened #58 "New Feature: A parameter to check the status of Zmbackup in the server"
##### ISSUE TYPE
- Feature Idea

##### ENVIRONMENT VERSION
- Zmbackup Version: Any
- Zimbra Version: Any
- Linux Distribution & Version: Any

##### SUMMARY

Create a new parameter for Zmbackup to check the status of all the files and services necessary for it work, like LDAP, Zmmailbox, backup directory access, SQL/TXT file access or if exist, and so goes on.

[2018-01-22 20:46] lucascbeyeler opened #59 "New Feature: Enable/Disable mail notification"
##### ISSUE TYPE
- Feature Idea

##### ENVIRONMENT VERSION
- Zmbackup Version: Any
- Zimbra Version: Any
- Linux Distribution & Version: Any

##### SUMMARY

The Thread: https://groups.google.com/forum/#!topic/zmbackup/Goa9eEUKSvc

Create a way to disable partially or all the e-mails send by Zmbackup.

[2018-01-22 20:48] lucascbeyeler opened #60 "New Feature: Zmbackup installer inside Ansible Galaxy"
##### ISSUE TYPE
- Feature Idea

##### ENVIRONMENT VERSION
- Zmbackup Version: Any
- Zimbra Version: Any
- Linux Distribution & Version: Any

##### SUMMARY

Create an Ansible script to install Zmbackup and host inside Ansible Galaxy for anyone who wants to install.

[2018-02-04 01:03] lucascbeyeler opened #61 "Recreate all the tests for Travis CI"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.0 RC 2
- Zimbra Version: any
- Linux Distribution & Version: any

##### SUMMARY
Recreate all the tests for Travis CI validate if Zmbackup script is okay (installer and the main code)

[2018-02-04 01:07] lucascbeyeler opened #62 "Create a better version checker for install.sh to not let peoples execute downgrade incorrectly"
##### ISSUE TYPE
- Feature Idea

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.0 RC2
- Zimbra Version: any
- Linux Distribution & Version: any

##### SUMMARY
At the moment, the install.sh check if the command zmbackup -v has an output different from the version you trying to install. The correct should be update only if the version is higher than the one installed in your server.

[2018-02-04 02:27] lucascbeyeler commented on #52
Moving to a different repository

[2018-02-04 02:27] #52 closed, assigned to lucascbeyeler

[2018-02-12 10:44] vadonka opened #63 "Mailbox dump not working"
I setup the new 1.2 version.
zmbackup -f backup the ldap (ldiff) but creating an empty tgz mailbox dump. It does not wrote any error log, just not working. Any help about this.?
Every login credentials is valid.

[2018-02-14 15:25] lucascbeyeler commented on #63
Hello @vadonka,

Could you please answer the following questions? I need all the information about your Zmbackup and the system is running to help you.

##### ENVIRONMENT VERSION
- Zmbackup Version:
- Zimbra Version:
- Linux Distribution & Version:

And could you check your /var/log/messages? Zmbackup send all the logs inside that file now, so if something is not working you will know there...

[2018-02-18 09:37] tdemeter commented on #63
I have exactly same problem:
I've installed it on centos 6.9 & zimbra 8.8.6 open sourece.
Also, the httpie package isn't there in centos6's epel repo, so I installed it from "open fuse" repository.
After install I did this command:
zmbackup -f -m user@domain.tld
I got an email, with Successfully message, but the tgz is 0 byte long!
Also I have an error message in the logs:

Feb 18 10:23:22 zimbra

[2018-02-18 10:13] tdemeter commented on #63
Meanwhile i've found /etc/zmbackup and I changed many variables from my IP to my hostname, but I've got same errors:(

[2018-02-19 09:33] tdemeter commented on #63
Ok. I found that! The installer didn't create th zmbackup user. After I've created it manually  it works like a charm!
I found an other bug with installer. I did an uninstall procedure, and after uninstall I could not install already it because could not add the external centos repo again. (for parallel)

[2018-02-19 18:31] lucascbeyeler commented on #63
@tdemeter Thanks for your return... sorry for the long delay.

I'm going to fix this before the end of the week. Thanks for your help :+1:

Regards,
Lucas Costa Beyeler

[2018-02-20 08:09] cp38510 commented on #63
Hello! I test zmbackup, install and "zmbackup -f"  pass correct, but tgz files is 0 byte size.
What should I do to solve this situation?
Zimbra 8.6
zmbackup version: 1.2.0 - Release Candidate 2
/log/var/messages:
https://127.0.0.1:7071/home/1@test1.com/?fmt=tgz#012Connecting to 127.0.0.1:7071... connected.#012WARNING: cannot verify 127.0.
0.1's certificate, issued by '/C=US/ST=N/A/L=N/A/O=Zimbra C

[2018-02-22 15:42] lucascbeyeler commented on #63
@vadonka @cp38510  and @tdemeter Could you guys try again? I made some modifications for the installer to show a message of the why it doesn't create the zmbackup user.

Regards,
Lucas Costa Beyeler

[2018-02-23 17:09] alandma opened #65 "Backup and restore to a specific domain"
ISSUE TYPE
Feature Idea

ENVIRONMENT VERSION
Zmbackup Version: Any
Zimbra Version: Any
Linux Distribution & Version: Any

SUMMARY
New feature to backup and restore to a specific domain only.

[2018-02-26 11:58] cp38510 commented on #63
@lucascbeyeler I git clone and install again with default settings install.sh on Centos7, during installation I get an error:
ERROR - Can't create the user. Executing rollback process
Error description: ERROR: service.INVALID_REQUEST (invalid request: must be valid email address: zmbackup@)
Removing... Please wait while we made some changes.

the script is run as root
what needs to be done?

[2018-02-26 20:57] lucascbeyeler commented on #63
@cp38510 Thanks for your return. I'm going to provide an alternative solution for this... The problem is the machine domain is not the same used by the Zimbra. Can you confirm this?

Regards,
Lucas Costa Beyeler.

[2018-02-27 08:09] somnathndy opened #66 "zmbackup single mail account restore issue"
##### ISSUE TYPE
- Bug Report
- Feature Idea
- Documentation Report
- Question
- Checklist

Question

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.0, release candidate 2
- Zimbra Version: 8.8.6
- Linux Distribution & Version: CentOS 6.9

##### SUMMARY
I am doing a test with Zimbra OSE 8.8.6 installed on CentOS 6.9. It is configured properly and working fine. I have installed Zmbackup (version

[2018-02-27 12:16] cp38510 commented on #63
Sorry, but I do not quite understand what "machine domain"

server hostname = test2
domain Zimbra = test1.com

[2018-02-27 19:32] lucascbeyeler commented on #63
The machine domain I'm saying is the domain part of the hostname... sorry for the bad explanation :(

Without that the script always crash during the installation.

[2018-03-27 00:25] lucascbeyeler commented on #63
Hello @vadonka @tdemeter and @cp38510

Sorry for the long delay, but i'm closing this issue because the bug is fixed in the 1.2-version branch. Until the end of this week a new version will be released.

Thanks for your support.

Lucas Costa Beyeler

[2018-03-27 00:25] #63 closed, assigned to lucascbeyeler

[2018-03-27 00:33] lucascbeyeler opened #67 "Zmbackup doesn't work in SQLITE3 mode"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.0 RC2
- Zimbra Version: 8.8.6
- Linux Distribution & Version: Ubuntu 16.04

##### SUMMARY

Zmbackup restore doesn't work in SQLITE3 mode. When you try to execute the following message appears:

[code]

[2018-03-27 00:45] lucascbeyeler commented on #67
FIXED - The issue actually was the zmbackup was trying to send email every time an operation is done, it should be only during Backup sessions.

[2018-03-27 00:45] #67 closed, assigned to lucascbeyeler

[2018-03-27 00:51] lucascbeyeler commented on #60
This task will be executed inside a new project.

[2018-03-27 00:51] #60 closed, assigned to nobody

[2018-03-27 02:29] lucascbeyeler opened #68 "Wget not installing and Storage not being removed"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.0 RC2
- Zimbra Version: 8.8.6
- Linux Distribution & Version: CentOS 6

##### SUMMARY

During the install process, the wget is ignored by the process install and the storage is not removed during the uninstall.

[2018-03-27 03:00] lucascbeyeler commented on #68
FIXED

[2018-03-27 03:00] #68 closed, assigned to lucascbeyeler

[2018-03-27 03:01] lucascbeyeler commented on #66
Hello @somnathndy,

This bug was fixed right now in the branch 1.2-version. Sorry for the long delay. Before the end of this week a new release will be launched with this fix.

Thanks for your support.

Lucas Costa Beyeler

[2018-03-27 03:01] #66 closed, assigned to lucascbeyeler

[2018-03-27 12:35] cribeironascimento opened #69 "New feature: backingup only active accounts"
ISSUE TYPE

- Feature Idea
ENVIRONMENT VERSION

- Zmbackup Version: 1.2.0 RC2

- Zimbra Version: any

- Linux Distribution & Version: any
SUMMARY
At the moment, the command zmbackup -f realize a full backup routine to all accounts. The new feature this a option to backup only active accounts.

[2018-04-07 15:29] lucascbeyeler opened #70 "Better config file error handle"
##### ISSUE TYPE
- Enhancement

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.0
- Zimbra Version: Any
- Linux Distribution & Version: Any

##### SUMMARY

A better way to handle the error messages for the file zmbackup.conf having not all the variables informed.

[2018-04-07 15:59] lucascbeyeler commented on #70
FIXED

[2018-04-07 15:59] #70 closed, assigned to lucascbeyeler

[2018-04-07 16:00] lucascbeyeler opened #71 "New error codes"
##### ISSUE TYPE
- Enhancement

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.0
- Zimbra Version: Any
- Linux Distribution & Version: Any

##### SUMMARY
Change all the error codes for Zmbackup because today they are a mess.

[2018-04-07 16:19] lucascbeyeler commented on #71
FIXED

[2018-04-07 16:19] #71 closed, assigned to lucascbeyeler

[2018-04-07 16:46] lucascbeyeler opened #72 "Log level to turn Zmbackup less verbose, if needed"
##### ISSUE TYPE

- Feature Idea

##### ENVIRONMENT VERSION
- Zmbackup Version:1.2.0
- Zimbra Version: Any
- Linux Distribution & Version: Any

##### SUMMARY
Create log level for each message to turn Zmbackup less verbose if needed

[2018-04-07 17:02] lucascbeyeler opened #73 "Zmbackup -d crash if SQLITE3 options is enabled"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.0
- Zimbra Version: any
- Linux Distribution & Version: any

##### SUMMARY

If SQLITE3 is active, if you try to remove an backup a lot of warn messages is showed

##### STEPS TO REPRODUCE
[code]

##### ACTUAL RESULTS
[code]

[2018-04-07 17:03] lucascbeyeler commented on #73
FIXED

[2018-04-07 17:03] #73 closed, assigned to lucascbeyeler

[2018-04-07 17:11] lucascbeyeler commented on #69
Hello @cribeironascimento,

A new option inside /etc/zmbackup/zmbackup.conf was included to enable or disable the backup for only active accounts. This new feature will be present in the next release.

I'm closing this issue because the task was already done.

Regards,
Lucas Costa Beyeler

[2018-04-07 17:11] #69 closed, assigned to lucascbeyeler

[2018-04-07 18:45] lucascbeyeler opened #74 "Mail report stopped working"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.0
- Zimbra Version: any
- Linux Distribution & Version: any

##### SUMMARY
Mail report wasn't being send after the end of the backup routine.

[2018-04-07 18:47] lucascbeyeler commented on #74
FIXED

[2018-04-07 18:47] #74 closed, assigned to lucascbeyeler

[2018-04-07 19:12] lucascbeyeler commented on #59
Implemented! A new options was included inside the config file that enable and disable part or all the emails sended by zmbackup.

This new feature will be included in the next release.

[2018-04-07 19:12] #59 closed, assigned to lucascbeyeler

[2018-04-08 08:25] binaryhouse opened #75 "An exception related to ACL and permissions"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: zmbackup version: 1.2.0
- Zimbra Version: Zimbra Version: 8.8.7_GA_1964.FOSS
- Linux Distribution & Version: OS version: Linux mail.xxxx.xxx 3.10.0-693.21.1.el7.x86_64 #1 SMP Wed Mar 7 19:03:37 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

We are actually experiencing some issues  while doing a full backup (zmbackup -f). The l

[2018-04-08 20:01] lucascbeyeler commented on #75
Hello @binaryhouse,

After some checks, I notice that this is a bug from Zimbra. This error appears only in the first time you connect to that account per duration of the cookie. I don't think I can do anything about this, because the only way to download these accounts are using the URL **https://<server>:7071/home/account/?fmt=tgz**

I'm not going to open a ticket in their bugzilla because I sti

[2018-04-09 01:13] mailanetworks opened #76 "Installation won't work if complex passwords are mandatory"
ISSUE TYPE:  Bug Report
ENVIRONMENT VERSION:
- Zmbackup Version: 1.2.1
- Zimbra Version: 8.8.8
- Linux Distribution & Version: Centos 7
##### SUMMARY
We use mandatory rules for accounts where users need to choose a strong password with capital letters, characters and numbers.
The password generated by the script doesn't create a password strong enough and fails.

##### STEPS TO REPRODUCE
Try to in

[2018-04-09 09:07] binaryhouse commented on #75
Hi Lucas,

thanks fo the super-fast info. It seems that only thing, we can do about it is to tope that it'll work :)

Thanks for your time.
Regards,
Martin

[2018-04-09 09:07] #75 closed, assigned to lucascbeyeler

[2018-04-09 14:19] lucascbeyeler commented on #76
Hello @mailanetworks,

I don't think creating a strong password will be the way to solve any problem. Sooner or later I will need to generate a patch for another even stronger password.

What I gonna do is still generate this weak password, but give you an option to input your password instead. Do you think this is a good way to solve your problem?

Regards,
Lucas Costa Beyeler

[2018-04-09 14:21] mailanetworks commented on #76
Hi Lucas,
It'll be perfect!
Thanks

[2018-04-09 14:39] lucascbeyeler commented on #76
Hello @mailanetworks,

Could you try again? Please use the branch 1.2-version to install your Zmbackup. This fix will be included in version 1.2.2 after I finish developing all the new features and bugfix.

Regards,
Lucas Costa Beyeler

[2018-04-09 14:50] lucascbeyeler opened #77 "New Feature - Create a debug mode for Zmbackup"
##### ISSUE TYPE
- Feature Idea

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.1
- Zimbra Version: any
- Linux Distribution & Version: any

##### SUMMARY
Create a feature to enable or disable bash's debug mode for Zmbackup.

[2018-04-09 15:50] ananiasfilho opened #78 "Zmbackup não roda na cron do ubuntu 16.04"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version:
zmbackup version: 1.2.0 - Release Candidate 2

- Zimbra Version:
Release 8.8.6.GA.1906.UBUNTU16.64 UBUNTU16_64 FOSS edition.

- Linux Distribution & Version:
Ubuntu 16.04.4 LTS
Linux 4.4.114-mainline-rev1 #1 SMP Thu Feb 1 16:16:01 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY

##### STEPS TO REPRODUCE
[code]
cat

[2018-04-09 18:20] mailanetworks commented on #76
Works like a charm!

Many thanks!!!

[2018-04-09 18:20] #76 closed, assigned to lucascbeyeler

[2018-04-09 19:45] lucascbeyeler commented on #78
Hello @ananiasfilho,

I made the change you asked. Now the zmbackup will install a file called "zmbackup", not zmbackup.cron.

Regards,
Lucas Costa Beyeler

[2018-04-09 19:45] #78 closed, assigned to lucascbeyeler

[2018-04-11 15:13] ananiasfilho opened #79 "Define notification sender email"
##### ISSUE TYPE
- Feature Idea

##### ENVIRONMENT VERSION
- Zmbackup Version:
- Zimbra Version:
- Linux Distribution & Version:

##### SUMMARY
hability to define notification sender email address.
Example:
under zmbackup.conf define NOTIFICATION_SENDER=alert@domain.com
or under installation:
List all admins emails and select one OR define "Notification sender email address - user@domain.com".

##

[2018-04-18 21:29] lucascbeyeler opened #80 "Zmbackup not logging error when try to send e-mail"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.1
- Zimbra Version: any
- Linux Distribution & Version: any

##### SUMMARY
Zmbackup is not logging error messages when the e-mail is not sended.

[2018-04-18 22:02] lucascbeyeler commented on #79
Hello @ananiasfilho

I'm closing this issue because I implemented this issue in the branch 1.2.2

Regards,
Lucas Costa Beyeler

[2018-04-18 22:02] #79 closed, assigned to lucascbeyeler

[2018-04-18 22:02] lucascbeyeler commented on #80
FIXED

[2018-04-18 22:02] #80 closed, assigned to lucascbeyeler

[2018-04-18 22:24] lucascbeyeler commented on #77
Impossible to set variables inside shebang. This is a limitation from Linux way to understand shebangs.

Closing the issue with NOT IMPLEMENTED

[2018-04-18 22:24] #77 closed, assigned to lucascbeyeler

[2018-04-19 00:19] lucascbeyeler opened #81 "Zmbackup not stopping execution if ldapsearch fail"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.1
- Zimbra Version: any
- Linux Distribution & Version: any

##### SUMMARY
Zmbackup not stopping the execution if the ldapsearch query found nothing or can't execute.

[2018-04-19 01:07] lucascbeyeler opened #82 "LOCK_BACKUP does not work with SQLITE3"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.1
- Zimbra Version: any
- Linux Distribution & Version: any

##### SUMMARY
LDAP_FILTER should be modified to work with SQLITE3, otherwise the LOCK_BACKUP will not work while using this way to store the history

[2018-04-19 01:21] lucascbeyeler opened #83 "Zmbackup trying to check size of folders that does not exist during a failure"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.1
- Zimbra Version: any
- Linux Distribution & Version: any

##### SUMMARY
Zmbackup return error when try to send the e-mail, but the status is FAILURE.

##### STEPS TO REPRODUCE
[code]
##### ACTUAL RESULTS
[code]

[2018-04-19 01:25] lucascbeyeler commented on #83
FIXED

[2018-04-19 01:25] #83 closed, assigned to lucascbeyeler

[2018-04-19 01:25] lucascbeyeler commented on #81
FIXED

[2018-04-19 01:25] #81 closed, assigned to lucascbeyeler

[2018-04-19 01:27] lucascbeyeler commented on #65
Hello @alandma,

I'm closing this issue because what you asked is already implemented in the branch 1.2-version. Fell free to reopen this issue if any problems occur.

Regards,
Lucas Costa Beyeler

[2018-04-19 01:27] #65 closed, assigned to lucascbeyeler

[2018-04-19 02:13] lucascbeyeler commented on #82
FIXED

[2018-04-19 02:13] #82 closed, assigned to lucascbeyeler

[2018-04-19 02:15] lucascbeyeler opened #84 "Zmbackup --truncate to help to clean the entire folder if needed"
##### ISSUE TYPE
- Feature Idea

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.1
- Zimbra Version: any
- Linux Distribution & Version: any

##### SUMMARY
Create a truncate command to clean the entire folder where you store the backup.

[2018-04-19 02:35] lucascbeyeler opened #85 "Enable Vacuum for SQLITE3"
##### ISSUE TYPE
- Enhancement

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.1
- Zimbra Version: any
- Linux Distribution & Version: any

##### SUMMARY
Make zmbackup run the Vacuum everytime after the housekeep

[2018-04-19 03:02] lucascbeyeler commented on #84
IMPLEMENTED

[2018-04-19 03:02] #84 closed, assigned to lucascbeyeler

[2018-04-19 03:03] lucascbeyeler commented on #85
IMPLEMENTED

[2018-04-19 03:03] #85 closed, assigned to lucascbeyeler

[2018-04-19 04:07] lucascbeyeler opened #86 "install.sh try to install zmbackup as a new installation if the command doesn't work at the moment"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.1
- Zimbra Version: any
- Linux Distribution & Version: any

##### SUMMARY
install.sh doesn't work correctly if the command zmbackup -v is not working. Should be change the check to which now.

[2018-04-19 04:08] lucascbeyeler commented on #58
IMPLEMENTED

[2018-04-19 04:08] #58 closed, assigned to nobody

[2018-04-19 04:08] #86 closed, assigned to lucascbeyeler

[2018-04-19 04:08] lucascbeyeler commented on #86
FIXED

[2018-04-22 20:57] guinuxbr opened #87 "Cannot install zmbackup"
ISSUE TYPE - Bug Report

ENVIRONMENT VERSION
- Zmbackup Version: Latest from Github
- Zimbra Version: 8.8.5
- Linux Distribution & Version: Ubuntu Server 16.04 LTS

SUMMARY
To reproduce, I just have to try to install.

STEPS TO REPRODUCE
[code]

ACTUAL RESULTS
After answer the wizard question I have the following output:
[code]

[2018-04-24 21:06] lucascbeyeler commented on #87
Hello @guinuxbr,

The problem is because you are trying to use a password for Zmbackup account that your Zimbra consider not safe. Try to create your own and see if it works.

Regards,
Lucas Costa Beyeler

[2018-04-24 23:58] guinuxbr commented on #87
I already have done this. My Zimbra is configured to accept a password with
10 characters at minimum, 1 capitalized, 1 number and 1 ponctual. I really
don't know what I have to do.

Em ter, 24 de abr de 2018 18:06, Lucas Costa Beyeler <
notifications@github.com> escreveu:

[2018-05-02 07:50] sammytan opened #88 "backup file size as 0 ???"
##### ISSUE TYPE
- Bug Report
- Feature Idea
- Question
- Enhancement

##### ENVIRONMENT VERSION
- Zmbackup Version:zmbackup-1.2.1
- Zimbra Version:8.8.7
- Linux Distribution & Version: Centos 7.4

##### SUMMARY

##### STEPS TO REPRODUCE
[code]

##### ACTUAL RESULTS
[code]

[2018-05-02 07:53] sammytan commented on #88
The same is true for backup user mailboxes.
Pls help !

[2018-05-06 18:57] lucascbeyeler opened #89 "Installer show the README.md if the process fail"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.1
- Zimbra Version: any
- Linux Distribution & Version: any

##### SUMMARY
If the install process fails, the README.md will be showed, when the correct is return to the terminal

[2018-05-06 19:09] lucascbeyeler opened #90 "Installer - unknow terminal type"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.1
- Zimbra Version: any
- Linux Distribution & Version: any

##### SUMMARY
Zmbackup is executing the update process everytime you run the script, and the following error is appearing during the gattering info stage:
[code]

[2018-05-06 20:14] lucascbeyeler opened #91 "Installer broke if you try to reinstall"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.1
- Zimbra Version: any
- Linux Distribution & Version: CentOS 6

##### SUMMARY
For some reason the repository is not included inside the server after an reinstall.

[2018-05-06 20:21] lucascbeyeler opened #92 "Installer should not execute the uninstall if Zmbackup is not installed"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.1
- Zimbra Version: any
- Linux Distribution & Version: any

##### SUMMARY
Zmbackup should only execute the uninstall process if Zmbackup is installed

[2018-05-06 20:40] lucascbeyeler opened #93 "Installer should send an error code if fail"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.1
- Zimbra Version: any
- Linux Distribution & Version: any

##### SUMMARY
Zmbackup installer is not returning an error code if the process fail

[2018-05-06 20:55] lucascbeyeler opened #94 "Installer execute always a new installation, even if there is a version installed"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.1
- Zimbra Version: any
- Linux Distribution & Version: any

##### SUMMARY
The installer is showing that this is a new installation, even if there is a zmbackup version installed in the server.

[2018-05-06 21:25] lucascbeyeler commented on #92
FIXED

[2018-05-06 21:25] #92 closed, assigned to lucascbeyeler

[2018-05-06 21:31] lucascbeyeler commented on #91
FIXED

[2018-05-06 21:31] #91 closed, assigned to lucascbeyeler

[2018-05-06 21:33] lucascbeyeler opened #95 "Install - Start using the error code vars"
##### ISSUE TYPE
- Enhancement

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.1
- Zimbra Version: any
- Linux Distribution & Version: any

##### SUMMARY
The installer should start using the variables used to store the error codes, rather than the error code.

[2018-05-06 21:35] lucascbeyeler opened #96 "Zmbackup - Create a place to store the error codes for Zmbackup"
##### ISSUE TYPE
- Feature Idea

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.1
- Zimbra Version: any
- Linux Distribution & Version: any

##### SUMMARY
Create a place to store, in variables, the error codes for Zmbackup, to stop using the code number. This way will be better for remember what each number mean.

[2018-05-06 21:51] lucascbeyeler opened #97 "Zmbackup is not executing because of a error while trying to read the config file"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.2
- Zimbra Version: any
- Linux Distribution & Version: any

##### SUMMARY
For some reason Zmbackup is returning a lot of errors if you try to use the new release (1.2.2). The errors are the following:
[code]

[2018-05-06 21:51] lucascbeyeler commented on #90
FIXED

[2018-05-06 21:51] #90 closed, assigned to lucascbeyeler

[2018-05-06 21:52] lucascbeyeler commented on #94
FIXED

[2018-05-06 21:52] #94 closed, assigned to lucascbeyeler

[2018-05-06 21:56] lucascbeyeler commented on #93
FIXED

[2018-05-06 21:56] #93 closed, assigned to lucascbeyeler

[2018-05-06 21:56] lucascbeyeler commented on #89
FIXED

[2018-05-06 21:56] #89 closed, assigned to lucascbeyeler

[2018-05-06 21:58] lucascbeyeler commented on #61
The tests are moved to an internal Jenkins. I'm not going to use Travis to test this anymore.

[2018-05-06 21:58] #61 closed, assigned to lucascbeyeler

[2018-05-08 18:56] rodrigomeneguet opened #98 "Can't extract accounts from LDAP"
ISSUE TYPE
**Bug Report**

ENVIRONMENT VERSION
Zmbackup Version: **zmbackup-1.2.2**
Zimbra Version: **8.8.8**
Linux Distribution & Version: **Centos 7.4**

[code]

[code]

[2018-05-11 20:23] lucascbeyeler commented on #98
Hello @rodrigomeneguet

This is not a bug.... it's looks like you don't have part of the variables inside the /etc/zmbackup/zmbackup.conf. Try recreate the file with all the fields with the correct values and try again.

Regards,
Lucas Costa Beyeler

[2018-05-15 19:16] rodrigomeneguet commented on #98
Hello Lucas, really, the problem was in the variable LDAPSERVER, it was filled with 127.0.0.1, just change to the corresponding ip.
Thank you very much.

[2018-05-20 17:50] lucascbeyeler commented on #98
Hello @rodrigomeneguet

Good to know that your problem was solved. If you need anything just reopen this issue (if it is the same subject) or open a new one.

Regards,
Lucas Costa Beyeler

[2018-05-20 17:50] #98 closed, assigned to lucascbeyeler

[2018-05-21 19:46] MartinTerp opened #99 "Fresh install: Error: no such table: backup_account"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.2
- Zimbra Version: 8.8.8
- Linux Distribution & Version: CentOS7

##### SUMMARY

After installing, nothing happends, sqlite database not populated, eventhough i choose TXT

##### STEPS TO REPRODUCE

This is my first run ever, no backups made before this
[code]

##### ACTUAL RESULTS

[2018-05-22 07:41] rvargasg opened #100 "Fresh install: Can't perform a full/incremental backup"
**ISSUE TYPE**
- Bug Report

**ENVIRONMENT VERSION**
- Zmbackup Version: 1.2.2
- Zimbra Version: 8.8.8
- Linux Distribution & Version: Ubuntu 16.04.4 LTS

**SUMMARY**

After installing, nothing happends. It's says "nothing to do"

**STEPS TO REPRODUCE**
After a clean installation I try to run both the full and incremental copy with the command **zmbackup -f** or **zmbackup -i**.

I've tried to do

[2018-05-22 09:30] rvargasg opened #101 "Restoring issue"
**ISSUE TYPE**
- Bug Report

**ENVIRONMENT VERSION**
- Zmbackup Version: 1.2.2
- Zimbra Version: 8.8.8
- Linux Distribution & Version: Ubuntu 16.04.4 LTS

**SUMMARY**
Hello. I'm trying zmbackup and I run into the following problem: i can perform a full backup for an account but the restoring procees don't work well.

**STEPS TO REPRODUCE**
First launch a full backup for an account:
zmbackup -f -a

[2018-05-22 17:29] AndreFelipeMachado commented on #99
Hello,
I tried editing /etc/zmbackup/zmbackup.conf
#AFM 20180522
#SESSION_TYPE=TXT
SESSION_TYPE=SQLITE3

then
sudo su -
su - zimbra
zmbackup -m
but the /opt/zimbra/backup/sessions.sqlite3 resulted empty.
Then manually executed
sqlite3 /opt/zimbra/backup/sessions.sqlite3 < /usr/local/lib/zmbackup/sqlite3/database.sql
and now it is created with its tables but still no data.
Situation improved, but s

[2018-05-22 18:34] AndreFelipeMachado opened #102 "OSE_INSTALL_ADDRESS got blank"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.2
- Zimbra Version: 8.8.8
- Linux Distribution & Version: ubuntu 14.04 lts

##### SUMMARY
Guess that during installation the ip address got blank because of installScript/vars.sh hardcoded domain instead of using the variable OSE_INSTALL_DOMAIN

[code]

##### STEPS TO REPRODUCE
Fresh install

##### ACTUAL RESULTS
OSE_

[2018-05-27 23:59] diterdepaula commented on #98
Oi Lucas, estou com o mesmo problema acima, qual o formato que deve-se informar na linha ldap:
Simplesmente assim: LDAPSERVER=127.0.0.1
Ou assim: ldap://127.0.0.1:389
Valeu.

[2018-05-28 01:07] diterdepaula commented on #98
Em tempo..

+ ERR='++ ldapsearch -x -H 127.0.0.1 -D uid=zimbra,cn=admins,cn=zimbra -w xxxxxxxxxx -b '\'''\'' -LLL '\''(objectclass=zimbraAccount)'\'' zimbraMailDeliveryAddress
Could not parse LDAP URI(s)=127.0.0.1 (3)'
+ echo 'ERROR - Can'\''t extract accounts from LDAP - See log for more information'

[2018-05-28 11:14] rodrigomeneguet commented on #98
@diterdepaula amigo eu utilizei neste formato:

LDAPSERVER=ldap://127.0.0.1:389

Lembrando que o 127,0,0,1 deve ser substituído pelo ip da interface, foi assim que funcionou para mim.

[2018-06-03 13:07] ananiasfilho commented on #102
Confirm! it occurred on CentOS 7 platfform. Need setup it manual.

[2018-06-03 13:12] ananiasfilho opened #103 "FTP Backup feature"
##### ISSUE TYPE
- Feature Idea

##### ENVIRONMENT VERSION
- Zmbackup Version: Any
- Zimbra Version: Any
- Linux Distribution & Version: Any

##### SUMMARY
As most of VPS and Cloud servers offer FTP backup space for free, its a good idea to send backups to FTP Server.
Example:
Online.net/Scaleway - 100GB for free
DigitalOcean - Low cost for 100GB
BlueHost - FTP Free 100GB
Server4You - free space i

[2018-06-03 17:03] lucascbeyeler commented on #102
Hello @ananiasfilho and @AndreFelipeMachado,

Sorry for the delay, yes the bug was because I forgot to remove that zimbra.example.com.br. Sorry for that.

Could you guys validate if the bug persist?

Regards,
Lucas Costa Beyeler

[2018-06-03 17:55] lucascbeyeler opened #104 "Bug - Menu need to be redone for new features"
##### ISSUE TYPE
- Bug Report
- Feature Idea

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.2
- Zimbra Version: any
- Linux Distribution & Version: any

##### SUMMARY
I need to recreate the menu for Zmbackup to handle better the input options. Today only in the exact order works, but aside from that it turn impossible to include new options for the script.

[2018-06-24 02:35] lucascbeyeler opened #105 "Redo: Create a database connection for Zmbackup"
##### ISSUE TYPE
- Task

##### ENVIRONMENT VERSION
- Zmbackup Version: 2.0
- Zimbra Version: any
- Linux Distribution & Version: any

##### SUMMARY
 Create a database connection for Zmbackup to insert the log of all the operations.

[2018-06-24 02:36] lucascbeyeler commented on #104
Won't Fix - Rewriting the entire Zmbackup instead

[2018-06-24 02:36] #104 closed, assigned to lucascbeyeler

[2018-06-24 02:37] lucascbeyeler commented on #102
Closing the issue because this bug is already fixed in branch 1.2-version

[2018-06-24 02:37] #102 closed, assigned to lucascbeyeler

[2018-06-24 02:38] lucascbeyeler commented on #97
Won't Fix - Rewriting the entire Zmbackup instead

[2018-06-24 02:38] lucascbeyeler commented on #96
Won't Fix - Rewriting the entire Zmbackup instead

[2018-06-24 02:38] #96 closed, assigned to lucascbeyeler

[2018-06-24 02:38] lucascbeyeler commented on #95
Won't Fix - Rewriting the entire Zmbackup instead

[2018-06-24 02:38] #95 closed, assigned to lucascbeyeler

[2018-06-24 02:39] lucascbeyeler commented on #72
Won't Fix - Rewriting the entire Zmbackup instead

[2018-06-24 02:39] #72 closed, assigned to lucascbeyeler

[2018-06-24 02:39] lucascbeyeler commented on #62
Won't Fix - Rewriting the entire Zmbackup instead

[2018-06-24 02:39] #62 closed, assigned to lucascbeyeler

[2018-06-24 13:11] lucascbeyeler commented on #105
Done

[2018-06-24 13:11] #105 closed, assigned to lucascbeyeler

[2018-06-24 13:18] lucascbeyeler opened #106 "Redo: Create a way to download the mailbox/ldap from Zimbra"
##### ISSUE TYPE
- Task

##### ENVIRONMENT VERSION
- Zmbackup Version: 2.0
- Zimbra Version: any
- Linux Distribution & Version: any

##### SUMMARY
Rewrite the ParallelAction.sh into Python to be used in the new Zmbackup

[2018-07-11 12:36] ibirisol opened #107 "Restore command raise a exception with mailbox bigger than 2GB"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.2
- Zimbra Version: 8.8.8.GA.2009
- Linux Distribution & Version: Ubuntu 16.04.4 LTS

##### SUMMARY

When I try to restore a mailbox bigger than 2GB with zmbackup the httpie raises:

[code]

I found a similar bug in [1-2]. A workaround made by [1] changed httpie by curl.

[1] https://gitlab.esss.lu.se/ics-infrastructu

[2018-07-13 13:56] ibirisol commented on #107
In pull request #108 I send a modification suggestion.

[2018-07-13 19:36] luisely opened #109 "Error with log file and FULL BACKUP"
##### ISSUE TYPE
- Question

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.1
- Zimbra Version: 8.7.11_GA_1854.FOSS
- Linux Distribution & Version: CentOS release 6.9

##### SUMMARY
1. The log file is never created after the backup is finished, the path is correct in the CONF
2. I want to do full backup every day, I set it up on CRON to run every day, but every day the full backup is different

[2018-07-13 19:55] ibirisol commented on #107
Hi Lucas, how could I help you with this bug? Are You with a tool name in your mind? Or you will fix HTTPie?

[2018-07-16 14:50] tdemeter commented on #100
I have  exactly same problem. It was fresh install. Before 1.2, I do use this backup,but from 1.2.2 does not.
What can I do?

[2018-07-16 16:50] lucascbeyeler commented on #100
@tdemeter,

The release 1.2.2 does not exist yet... If you see there is a tag saying "Unstable" in red in the begining of the site :)

The latest stable version is 1.2.1.

Regards,
Lucas Costa Beyeler

[2018-07-17 06:12] rvargasg commented on #100
![zmbackup_122](https://user-images.githubusercontent.com/39514484/42799671-fa71e664-8998-11e8-9e38-16892584400e.PNG)

Sorrry, but that's the version I can see in logs and README inside of the installation folder.

[2018-07-17 06:14] rvargasg commented on #100
I'm sorry, but I didn't realize it. Thank you!

[2018-07-24 18:55] rodrigomeneguet commented on #97
Good afternoon friend, I'm having the same problem, is there any way to fix it in version 1.2.2 or do we have to wait for version 1.2.3?

[2018-07-25 15:44] jonasteixeira commented on #83
What procedure did you take to solve it?

[2018-08-05 17:34] the-solipsist commented on #99
Hi. I'm facing the same issue. Any suggested resolutions?

[2018-08-28 05:14] digitalray commented on #99
Same here: Error: no such table: backup_account. Also it doesn't seem to keep a log in the config defined location which is /opt/zimbra/log/zmbackup.log. I'll try to uninstall and reinstall configured with sqlite and see if that works.

[2018-08-28 05:59] digitalray commented on #99
Uninstalling and reinstalling with sqlite option did get rid of that error message. But now when I do a -f -a acct@domain.com, the generated archive file is 0 bytes. And /opt/zimbra/log/zmbackup.log again contains no log entries.

[2018-09-20 19:53] ananiasfilho commented on #109
We have fixed and it will be available in next hours.
@luisely  - You can fix it using our FORK while @lucascbeyeler accept merge/pull request.
https://github.com/ananiasfilho/zmbackup

[2018-09-20 20:14] ananiasfilho commented on #97
We have fixed and it will be available in next hours.
@rodrigomeneguet  - You can fix it using our FORK while @lucascbeyeler accept merge/pull request.
https://github.com/ananiasfilho/zmbackup

[2018-09-21 12:57] ananiasfilho opened #113 "New features"
##### ISSUE TYPE
- Feature Idea

##### ENVIRONMENT VERSION
- Zmbackup Version: ALL
- Zimbra Version: ALL
- Linux Distribution & Version: ALL
##### SUMMARY
- Create menu options on install.sh

1. Install
2. Uninstall
3. Update/Upgrade (from github repository or just from code download - if user have downloaded it)
4. Check installation details (user, host, ip, password, etc)
5. Before install, chec

[2018-09-21 22:11] lucascbeyeler commented on #109
Hello @luisely,

Could you try again? I included all the fixes proposed by @ananiasfilho inside the project.

Regards,
Lucas Costa Beyeler

[2018-09-21 22:22] lucascbeyeler commented on #97
Hello @rodrigomeneguet

Could you try again using the branch 1.2-version? I included all the fixes proposed by @ananiasfilho.

Regards,
Lucas Costa Beyeler

[2018-09-30 00:06] mvldebian commented on #99
Same here,  https://groups.google.com/forum/#!topic/zmbackup/ba4dn9HUcGA

[2018-09-30 22:26] ananiasfilho opened #115 "Change sender notification"
Just change sender notification
[code]
try use admin@domain.com or zmbackup@domain.com or let use identify one.

the problem is:
Most sysadmins have outside email account as me. And some environments use mail gateway as sender and pay for user sender. Maybe using a user created before is better than pay 5$ to a new user tho alert about zmbackup notifications.

In my environments, i used:
[code]

[2018-09-30 22:32] ananiasfilho commented on #99
Try using new 1.2.3 branch!

[2018-10-07 14:39] lucascbeyeler opened #116 "Including a way to enable/disable SSL for Zmbackup"
##### ISSUE TYPE
- Feature Idea

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.3
- Zimbra Version: 8.8
- Linux Distribution & Version: Any

##### SUMMARY
Create a way to enable or disable SSL usage for Zmbackup. Today is hard coded this feature, and Zmbackup always will try to use SSL.

[2018-10-07 14:41] lucascbeyeler commented on #116
CREATED

[2018-10-07 14:41] #116 closed, assigned to lucascbeyeler

[2018-10-08 09:38] stasstryukov opened #117 "Restoring all accounts in one moment."
Hi all.
Maybe I'm so stuped, but can I restore all mails in one domain with one command?
Now i can restore one mailbox per entered command like zmbackup -r -m -d full-20181008121906 mail@domain.com
But if i want to restore all mailboxes in one time, what I must to use?
Tnx.

[2018-10-08 13:27] thytetgc opened #118 "Erro Memory httpie - restore"
##### ISSUE TYPE
- Bug Report
- Question

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.3
- Zimbra Version: 8.8.9
- Linux Distribution & Version: Ubuntu 16

##### SUMMARY
Ao rodar o restore full, ocorrem erros no httpie. Ele esta jogando as mensagens para memoria ram, fazendo com que gerem erros do tipo

##### STEPS TO REPRODUCE
[code]

##### ACTUAL RESULTS
[code]

[2018-10-08 13:38] thytetgc opened #119 "Erro SSL - restore"
##### ISSUE TYPE
- Bug Report
- Question

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.3
- Zimbra Version: 8.8.9
- Linux Distribution & Version: Ubuntu 16

##### SUMMARY
Ao fazer o restore usando Admin na porta 443 (SSL) é gerado um erro, e não faz a importação.

##### STEPS TO REPRODUCE
[code]

##### ACTUAL RESULTS
[code]

[2018-10-08 16:09] thytetgc opened #120 "Mudar Sequencia de restore full"
##### ISSUE TYPE
- Feature Idea
- Enhancement

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.3
- Zimbra Version: 8.8.9
- Linux Distribution & Version: Ubuntu 16

##### SUMMARY
Ao fazer restauração completa ele restaura a base primeiro, em sequencia os usuários, mailbox, listas e alias. Se um erro ocorrer na restauração da mailbox, as listas e alias não são restauradas.

A melhor sequencia seri

[2018-10-29 13:46] thytetgc opened #121 "Erro Restore Alias"
##### ISSUE TYPE
- Bug Report
- Question

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.3
- Zimbra Version: 8.8.9
- Linux Distribution & Version: Ubuntu 16

##### SUMMARY
Ao fazer o restore do Alias, ele cria os Alias, porem não aponta para os devidos e-mails.

##### STEPS TO REPRODUCE
[code]

##### ACTUAL RESULTS
[code]

[2018-11-09 05:54] MKReddy-git opened #122 "zmbackup not starting"
zmbackup 1.2-version installed succesfully

But when i do zmbackup -v i get error
Mailbox Admin Service is Down or Unavailable - See the logs for more information                                              .
Some errors are found inside the config file. Please fix then and try again late

All my services are running:
       amavis                  Running
        antispam                Running

[2018-11-19 10:57] vadonka commented on #122
I have the same issue. zmbackup -f -a user@domain.tld is working but only a few MB data saved then the backup quit. It seems the newest zimbra patch's broke this.

[2018-11-20 12:49] abdou84 commented on #99
go to vim /etc/zmbackup/blacklist.conf
remove all account from this file
save and quit
try zmbackup -f agin should work

[2019-01-02 12:55] rogeriobastos opened #123 "User/password is visible during backup"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.1
- Zimbra Version: 8.8.10
- Linux Distribution & Version: Ubuntu 16.04.4 LTS

##### SUMMARY
While backup is being performed is possible to see user and password used to do backup.

##### STEPS TO REPRODUCE
- Run a backup
- List running process and filter by the HTTP client (in my case wget)

[2019-01-11 07:39] ngatsis opened #124 "zmbackup -hp"
Hello.

I have a question for -hp option. Does it work? I run it and I have to following message:

Removing old backup folders - please wait.
Removing empty files - please wait.
find: failed to restore initial working directory: Permission denied
Can't remove empty files - false

I have install zmbackup version: 1.2.3 and it works fine. It actually saved me!

Thank you in advance.
Nikos.

[2019-01-15 20:19] farazsiddiqui2010 opened #125 "Schedule Backup Time via zmbackup"
ISSUE TYPE
 Question

 ENVIRONMENT VERSION
- Zmbackup Version: 1.2.3
- Zimbra Version: 8.8.5
- Linux Distribution & Version: Centos 7.5

SUMMARY
How can we schedule backups with the help of zmbackup?
zmbackup takes daily incremental backup at 01:30 AM EST and full backup weekly on sunday at 1:30AM, can we change this weekly backup to saturday instead of sunday?

[2019-01-18 14:59] farazsiddiqui2010 commented on #119
Is there any update on this, i am also facing same issue.

[2019-01-19 14:32] kladiv opened #126 "List session -> not meaningful Description field"
Hello,
nice project!
I suggest to enhance the "list" command when we make backups of some specific objects (e.g. domains, accounts).
In my opinion there's no a correct display of the _Description_ field of list command. It's a simple "Full Account" but it should explain what that backup session refers.

Thank you!

##### ISSUE TYPE
- Enhancement

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.3.2

[2019-01-28 10:23] ngatsis commented on #124
OK,
I just find out that -hp flag depends on ROTATE_TIME setting of zmbackup.conf.
So, -hp delete backup older than ROTATE_TIME days.
Thank you.

[2019-01-28 10:23] #124 closed, assigned to nobody

[2019-02-07 21:43] ghost opened #127 "A warning, this backup tool may not be reliable"
Hello All,

It seems this backup tool relies on exporting mailboxes using the Zimbra REST API

https://github.com/Zmbackup/zmbackup/blob/1.2-version/project/lib/bash/ParallelAction.sh#L48

This has been known to be unreliable, and may cause corrupted backups.

https://bugzilla.zimbra.com/show_bug.cgi?id=101760
https://bugzilla.zimbra.com/show_bug.cgi?id=86347

The tgz option shoud be fixed before

[2019-02-15 09:29] enribar opened #128 "Upgrade procedure?"
Hi,
today I upgraded my installation from version 1.2.2 to 1.2.3 . The installation wizard gave me an error because account zmbackup@... already existed, so it did not complete installation procedure; so I deleted zmbackup@... account and run again the 1.2.3 installer, then it completed the installation without errors.
Is that the correct procedure? Is it mandatory to delete the zmbackup@... accou

[2019-02-15 09:33] enribar commented on #127
Hello Barry,
do you know if there are any free backup alternatives other than using Zimbra REST APIs?

[2019-02-15 09:42] ghost commented on #127
Unfortunately I do not think there is one.

Someone should get dirty hands and fix the parts in Zimbra that break the export, I can imagine pathing the java so that it throws an account to a folder instead of a tgz. From there we can have a different process make the tgz.

Then we could debug the import process, I am not 100% sure how broken that is.

So the export, is I think fixable. It just nee

[2019-02-15 10:15] enribar commented on #125
Hi, take a look at #129

[2019-03-01 13:39] antonzhelyazkov opened #130 "blacklist.conf disable multiple addesses"
##### ISSUE TYPE:
- Question
##### ENVIRONMENT VERSION:
- Zmbackup Version: 1.2.3
- Zimbra Version: 8.8.9
- Linux Distribution & Version: Centos 7
##### SUMMARY:
-blacklist.conf multiple addresses

Hi, we have a lot of email boxes which begins with prefix old_ . Could I create entry in blacklist.conf like old_* which should mean to skip all boxes with prefix old_ or I should create entry for all m

[2019-03-11 08:20] antonzhelyazkov opened #131 "invalid date ‘+%s’"
##### ISSUE TYPE:
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.3
- Zimbra Version: 8.8.9
- Linux Distribution & Version: Centos 7

##### SUMMARY

Hi Team,

I run manually ```sudo -u zimbra /usr/local/bin/zmbackup -f``` and I have got this error in my console ```invalid date ‘+%s’```

It seems that script could not get result from command ```date ‘+%s’```.

Server clock is in syn

[2019-06-18 12:46] bumkailashkumar opened #132 "getting invalid user on installing for zcs 8.8.11"
getting invalid user on installing for Zcs 8.8.11

Errors:
chown: invalid user: ‘y’5%)
sudo: unknown user: y (90%)
sudo: unable to initialize policy plugin
ERROR - Can't create the user. Executing rollback process
Error description: sudo: unknown user: y
sudo: unable to initialize policy plugin
Removing... Please wait while we made some changes.
installScript/deploy.sh: line 152: /etc/zmbackup/zmb

[2019-06-27 13:01] vadonka commented on #127
The project is abandoned? It seems to. No words from the dev?

[2019-06-27 13:31] ghost commented on #127
looks like so

[2019-06-27 13:40] vadonka commented on #127
I guess i need to rewrite the backup/restore part to use the zmmailbox api and not the wget/curl method.

[2019-07-11 11:23] dZZZr opened #133 "Issue while trying to restore mails"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.3
- Zimbra Version: 8.8.12
- Linux Distribution & Version: Ubuntu 18.04.2

##### SUMMARY

##### STEPS TO REPRODUCE
zmbackup -f -d domain.pl
zmbackup -r -ldp full-20190711115424 info@domain.pl
zmbackup -r -m full-20190711115424 info@domain.pl

##### ACTUAL RESULTS
Restore mail process with session full-20190711115424 s

[2019-07-26 21:10] ananiasfilho commented on #122
I got a issue like this. The problem was: this server has proxy set.
so, check this:
export|grep -i proxy
if you get return like this:
http_proxy="http://172.16.0.1:808"
then, you have proxy.

to solve:
create a new file as root user:
echo "use_proxy=no" > /opt/zimbra/.wgetrc

now try run zmbackup.
su - zimbra
zmbackup -l
zmbackup -v
zmbackup -f

if it not solve, please, provide us more details ab

[2019-07-28 00:33] ananiasfilho commented on #132
Please, @bumkailashkumar provide us more details as:
Linux version and release: Ubuntu (16.04, 14.04)/Centos(5,6,7)/RedHat(5,6,7)
Zimbra command result: **su - zimbra** then **zmcontrol -v**
Zmbackup version:

[2019-07-28 00:38] ananiasfilho commented on #127
Hello guys! The project is stoped but not die! Lucas move from Brazil to Ireland and have a lot of things to do before back to zmbackup development. The version 2 will came this year. Im working hard on new zimbra 2 all re-write and using python3.
I will dedicate this week to check issues and feedback all of you. Feel free to fork project and send Pull requests.

[2019-07-28 00:52] ananiasfilho commented on #133
The problem seems be python httpie timeout:
check this file:
**if parallel (multiples restore)**
https://github.com/Zmbackup/zmbackup/blob/d83ab3efbc53d8ef5b20a2742da3fc2661841bb7/project/lib/bash/ParallelAction.sh#L91

**if single account**
https://github.com/Zmbackup/zmbackup/blob/d83ab3efbc53d8ef5b20a2742da3fc2661841bb7/project/lib/bash/RestoreAction.sh#L24

both files have this line on restore

[2019-07-28 14:38] ananiasfilho commented on #130
Its not possible.
To make your process little easy, please, try it:

zmprov -l gaa|grep "old_"
copy all accounts that have old_ and join on /etc/zmbackup/blacklist.conf

Ok?
I have spent 2 minutes and created a script for tests purposes:
**!!!Run script as zimbra user - not sudo or root!!!**
[code]

[2019-07-28 14:52] ananiasfilho commented on #126
Hello @kladiv just to be clear.
If you define domain on backup process, you will need see into description something like: "Full Accounts backup to domain example.com"
if yes, i will try start make this on next days.
if not, please, explain better.

[2019-09-06 09:42] asep008 opened #134 "restore/import backup to another server"
##### ISSUE TYPE

- Question

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.3
- Zimbra Version:  Release 8.8.6_GA_1906.RHEL7_64_20171130041047 RHEL7_64 FOSS edition.
- Linux Distribution & Version: Release 8.8.6_GA_1906.RHEL7_64_20171130041047 RHEL7_64 FOSS edition.

##### SUMMARY
i want to restore my backup to another server with different hostname server.

##### STEPS TO REPRODUCE

on the so

[2019-09-20 09:07] kmharish73 opened #135 "Restoring Mailbox Issue"
While trying to restore from fullbackup the user mail are not getting restored, It is showing below error
zmbackup -r full-20190920112720
Restore LDAP process with session full-20190920112720 started at Fri Sep 20 12:21:05 IST 2019
Restore LDAP process with session full-20190920112720 completed at Fri Sep 20 12:21:05 IST 2019
Restore mail process with session full-20190920112720 started at Fri Sep

[2019-09-24 08:05] vladT0 commented on #107
@ibirisol : Hi ! I have made myself changes in scripts. Now zmbackup tool is working with "curl" and I have no this 2GB limitation. The big second advantage, tool is working for old ubuntu versions, such as 12.04 (where httpie was not presented ) and I have managed to backup mail server on it and restore to latest version. I can share my changes.

[2019-09-25 01:28] cleitonrnovotni commented on #107
Hello, good night, could you share your code with me? I am encountering the same problem when trying to restore mailbox backups here, thanks.

[2019-09-25 08:17] vladT0 commented on #107
Hi !
File ParallelAction.sh:
[code]
File RestoreAction.sh:
[code]

[2019-09-25 08:18] vladT0 commented on #107
Hi ! Sorry for the strange formatting inside tag code.
File ParallelAction.sh:
`function mailbox_restore()
{
  ERR=$(curl --insecure -X POST -u "$ADMINUSER:$ADMINPASS" -T "$WORKDIR/$1/$2.tgz" "$WEBPROTO://$MAILHOST:7071/home/$2/?fmt=tgz")
  if ! [[ $? -eq 0 ]]; then
    printf "Error during the restore process for account $2. Error message below:"
    printf "$2: $ERR"
  elif [[ "$ERR"  == *"No su

[2019-09-25 19:52] taguardado commented on #88
i have got the same error!

[2019-10-07 13:54] kharinva commented on #119
Hi guys,
I had the same issue.
You should set your zmbackup@xxxxx.com account as a global admin.

[2019-11-18 06:48] Nill007 opened #136 "fullbackup doesn't work after deleting old backup"
i have deleted old backup from the location /opt/zimbra/backup/full* . Now im trying to take full backup using command  $ zmbackup -f, it shows nothing to do.
after adding some accounts in it, after fullbackup it backup only new change not all backup.
Also lists the old backup which is deleted awhile

[2020-01-16 14:56] coudot opened #138 "Manage multiple signatures (objects zimbraSignatureName)"
##### ISSUE TYPE
- Enhancement

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2

##### SUMMARY

When using the backup tool, the signatures are not saved and restored. This works only for the main signature because it is stored inside the account entry, but when creating multiple signatures, they are stored as sub entries of the account entry, and ignored during backup.

##### STEPS TO REPRODUCE

[2020-01-16 15:43] coudot commented on #138
See #139

[2020-02-05 11:38] sanilmmathew opened #140 "Error when try to do user mailbox backup in Zimbra 8.815 " Resolving smtp.domain.com (smtp.domain.com)... xx.xx.xx.x Connecting to smtp.domain.com (smtp.domain.com)|xx.xx.xx.x|:7071... connected. HTTP request sent, awaiting response... 404 no such item 2020-02-05 14:26:30 ERROR 404: no such item."
##### ISSUE TYPE
- Bug Report
- Feature Idea
- Question
- Enhancement

##### ENVIRONMENT VERSION
- Zmbackup Version:
- Zimbra Version:
- Linux Distribution & Version:

##### SUMMARY

##### STEPS TO REPRODUCE
[code]

##### ACTUAL RESULTS
[code]

[2020-02-13 15:56] pavanlinux commented on #87
Having CentOS 7.x and ZCS 8.8.15 OSE

[root@mail zmbackup]# ./install.sh
Loading installer - PLEASE WAIT
  Root Privileges...              [ROOT]
  Old Zmbackup Install...           Checking OS...                [RED HAT ENTERPRISE LINUX]
.......
Same issue when I followed the given steps:
Installing dependencies. Please wait...
Dependencies installed with success!
Installing... Please wait while

[2020-02-16 13:21] sanilmmathew commented on #140
Found the issue, was a zimbra user permission issue. it started working fine after giving full permission to zimbra user.

[2020-02-16 13:21] #140 closed, assigned to nobody

[2020-02-20 14:54] coudot commented on #138
PR #139 was merged, thanks!

[2020-02-20 14:54] #138 closed, assigned to nobody

[2020-02-25 22:12] kharinva opened #141 "ldiff"
Hello all.
Found one little issue in:
/usr/local/lib/zmbackup/bash files

In scripts, there are .ldif instead of .ldiff.

Hope it will help to resolve some issues.

[2020-02-26 23:04] cthart commented on #131
I have the same issue.
Zimbra 8.8.7_GA_1964
Ubuntu 16.04.6 LTS

[2020-02-26 23:11] cthart opened #142 "No sessions listed after backups have completed"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.3
- Zimbra Version: Zimbra 8.8.7_GA_1964
- Linux Distribution & Version: Ubuntu 16.04.6 LTS

##### SUMMARY
After backups have completed, there are no sessions listed.

##### STEPS TO REPRODUCE
Installed zmbackup accepting the default options, except I chose sqlite3 format for the session database.
Ran zmbackup -f whic

[2020-02-27 06:48] antonzhelyazkov commented on #131
@cthart Hi, I solved my issue with reinstall zmbackup.

[2020-02-27 10:20] cthart commented on #142
I reinstalled zmbackup, this time accepting all the defaults so that the sessions are saved in sessions.txt

I ran a backup using zmbackup -f which completed successfully in 1:38 resulting in 52G of compressed backups.

But sessions.txt is 0 bytes, and unsurprisingly zmbackup -l still returns no sessions.

[2020-02-27 17:06] PandemiK911 commented on #87
It seems install script does not read password from the invite. As a workaround, you can simply setup your password in the installScript/vars.sh file.
Do not forget to remove this file after install as it could be a security risk.

[2020-04-10 19:08] killmasta93 opened #143 "Change location on backup?"
##### ISSUE TYPE

- Question

##### ENVIRONMENT VERSION
- Zmbackup Version:1.2.3
- Zimbra Version:zimbra 8.8.15
- Linux Distribution & Version:
ubuntu 18.04

Possible to change the backup location?

[2020-04-11 02:37] killmasta93 commented on #143
reinstalling changed the location

[2020-04-11 02:37] #143 closed, assigned to nobody

[2020-04-11 03:17] killmasta93 opened #144 "Email Alert not working on error only"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.3
- Zimbra Version:8.8.15
- Linux Distribution & Version: ubuntu server 18.04

##### SUMMARY
the error email reports not working edited the /etc/zmbackup/zmbackup.conf
to only error and tested by unmounting the backup directory
which i got this error on the logs

`Apr 10 22:09:01 mail zimbra[17959]: Zmbackup: The dire

[2020-05-16 05:17] killmasta93 opened #145 "Restore issue"
Hi,
Currently trying to restore a mailbox and im getting this error

zmbackup -r -ro full-20200515013010  comercial@mydomain.com test@mydomain.com
Restore mail process with session full-20200515013010 started at Sat May 16 00:13:16 -05 2020Error during the restore process for account comercial@mydomain.com. Error message below:http:
Restore mail process with session full-20200515013010 completed a

[2020-05-17 21:13] killmasta93 opened #146 "issue with backing up"
Hi Currently having issue with the backup this is what im getting so far

[code]
currently running zimbra 8.8.15 with zmbackup 1.2.3
Thank you

[2020-05-18 19:43] guinuxbr commented on #87
As I'm not using Zimbra anymore, I'll close this issue.
By the way, I had no chance to test the @Azylog suggestion that seems to be viable.
Thank you guys anyway!

[2020-05-18 19:43] #87 closed, assigned to lucascbeyeler

[2020-06-14 07:16] gitjmrubio commented on #145
I tried a similar operation simulating a disaster recover situation.
Installed a second server, installed the zimbra software, then the zmbackup tooling.  Copied all the alias*, distlist*, inc* and full* directories to new server, set correct permisions as zimbra user, copied also the sessions.txt file and when I perform zmbackup -l it shows the information well.
After tried the zmbackup -r full-X

[2020-06-17 12:18] jorgemop opened #147 "full backup stops after parallel full filled root partition"
**ERROR:**
**[zimbra@server ~]$ zmbackup -f**
WARN: admin@sdd.com.ve found inside blacklist - Nothing to do.
WARN: spam.yoffff@sdd.com.ve found inside blacklist - Nothing to do.
WARN: hamsdffk@ssd.com.ve found inside blacklist - Nothing to do.
WARN: virus-quardfsdfdafzu@ssd.com.ve found inside blacklist - Nothing to do.
WARN: galsyncdfsdfsd@ssd.com.ve found inside blacklist - Nothing to do.
WARN:

[2020-06-17 16:26] #147 closed, assigned to nobody

[2020-06-17 18:51] jorgemop commented on #147
Problem with mounting point.

[2020-06-18 19:26] jorgemop commented on #18
Full backup going well
Incremental backup apparently going well

I delete an account for test, later try to recover it with -r -m and full session

and i gave this:

[zimbra@asd ~]$ zmbackup -r -m full-20200617121733 scompras@domain.com.ve
Restore mail process with session full-20200617121733 started at Thu Jun 18 15:18:28 -04 2020Error during the restore process for account scompras@domain.com.ve

[2020-06-19 17:02] jorgemop opened #148 "httpie version"
On CentOS 6 the version of  httpie show this message on certains operation like zmbackup -r -m

[root@ntplanta1 ~]# http --download https://www.2daygeek.com/wp-content/uploads/2019/04/Anbox-Easy-Way-To-Run-Android-Apps-On-Linux.png
usage: http [-h] [--version] [--json | --form] [--traceback]
            [--pretty | --ugly] [--headers | --body] [--style STYLE]
            [--auth AUTH] [--verify VE

[2020-09-25 16:18] sargishindoyan opened #150 "zmbackup version 1.2.3 not working"
Bug Report
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.3
- Zimbra Version: 8.8.15
- Linux Distribution & Version: centos 7

##### SUMMARY
install.sh doesn't work correctly if the command zmbackup -v is not working. Should be change the check to which now.

##### STEPS TO REPRODUCE
[code]

##### ACTUAL RESULTS
[code]

[2020-10-13 13:42] Wodel opened #151 "Backups lager than 2GB cannot be restored."
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.3
- Zimbra Version: 8.8.15 patch 14
- Linux Distribution & Version: CentOS 7

##### SUMMARY
Backups lager than 2GB cannot be restored.
I am getting this error message : Error message below:/usr/lib/python2.7/site-packages/urllib3/connectionpool.py:769:

##### STEPS TO REPRODUCE
[code]

##### ACTUAL RESULTS
[code]

[2020-11-28 03:27] bezunartea commented on #151
I also stumbled upon this issue, I have a few accounts whose backup files are well over 2GB, and cannot be restored... which actually defeats the main purpose for a backup. A backup file is totally useless when it cannot be restored.

I'm surprised that the actual recovery command is run as an http request to the web server. I guess there is no command line in zimbra for this purpose right?

[2020-12-06 11:41] lucascbeyeler commented on #151
Hi, actually there is - on the enterprise. Which defeats the purpose of the zmbackup if you can pay for the enterprise...

[2020-12-06 13:32] lucascbeyeler commented on #150
Hi @sargishindoyan

Can't promisse working on this bugfix as I'm working on Waddles at the moment.

[2020-12-08 14:11] lucascbeyeler commented on #141
Fixed

[2020-12-08 14:11] #141 closed, assigned to lucascbeyeler

[2020-12-08 14:12] lucascbeyeler commented on #151
Fixed - stopped using httpie and instead I'm using back cURL. Closing ticket - a new release with cURL enabled will be available at the end of the day.

[2020-12-08 14:12] #151 closed, assigned to lucascbeyeler

[2020-12-08 14:17] lucascbeyeler commented on #131
Closing the issue - new releases of Zmbackup does not appear the bug reported.

[2020-12-08 14:17] #131 closed, assigned to lucascbeyeler

[2020-12-08 14:17] lucascbeyeler commented on #148
Fixed - dropped httpie in favor of cURL. Please use the most recent version instead

[2020-12-08 14:17] #148 closed, assigned to lucascbeyeler

[2020-12-08 14:19] lucascbeyeler commented on #146
"Fixed" - the logger should now point you to the correct reason for why you can't backup. Please try to use the most recent version of Zmbackup and try to solve the problem informed inside the log. If it's a code issue feel free to reopen this ticket

[2020-12-08 14:19] #146 closed, assigned to lucascbeyeler

[2020-12-08 14:20] lucascbeyeler commented on #145
Fixed - new released of Zmbackup can now let you set the correct Zimbra Admin port, which can solve the issue above. Please try again with that version and if the problem happens again feel free to reopen this ticket.

[2020-12-08 14:20] #145 closed, assigned to lucascbeyeler

[2020-12-08 14:20] lucascbeyeler commented on #144
Fixed - mail alert is working again after the changes made on 1.2.5

[2020-12-08 14:20] #144 closed, assigned to lucascbeyeler

[2020-12-08 14:22] lucascbeyeler commented on #136
Did you delete the backup manually? If yes - that's the reason. Please avoid deleting backup manually and use zmbackup -d for that instead.

[2020-12-08 14:22] #136 closed, assigned to lucascbeyeler

[2020-12-08 14:22] lucascbeyeler commented on #135
Fixed - dropped httpie in favor of cURL for future releases. Please try to use zmbackup 1.2.5

[2020-12-08 14:22] #135 closed, assigned to lucascbeyeler

[2020-12-08 14:24] lucascbeyeler commented on #133
Fixed - dropped httpie in favor of cURL

[2020-12-08 14:24] #133 closed, assigned to lucascbeyeler

[2020-12-08 14:25] lucascbeyeler commented on #132
Closing the ticket - didn't receive an update from the creator

[2020-12-08 14:25] #132 closed, assigned to nobody

[2020-12-08 14:26] #130 closed, assigned to lucascbeyeler

[2020-12-08 14:27] lucascbeyeler commented on #128
Fixed - Version 1.2.5 does not require anymore the zmbackup account to be created to consider as a success.

[2020-12-08 14:27] #128 closed, assigned to lucascbeyeler

[2020-12-08 14:30] lucascbeyeler commented on #127
Hi,

Good to know that Zimbra is breaking the backups for no reason. The only solution I can see for this would be reverse engineer Zimbra to generate the tgz files by ourselves. I'm moving this idea to Waddles as I will continue developing Zmbackup as a Python solution.

[2020-12-08 14:34] #122 closed, assigned to ananiasfilho

[2020-12-08 14:35] lucascbeyeler commented on #120
Fixed - Zmbackup already restoring in the required order.

[2020-12-08 14:35] #120 closed, assigned to lucascbeyeler

[2020-12-08 14:36] lucascbeyeler commented on #119
Fixed.

[2020-12-08 14:36] #119 closed, assigned to lucascbeyeler

[2020-12-08 14:36] lucascbeyeler commented on #118
fixed - dropped httpie in favor of curl

[2020-12-08 14:36] #118 closed, assigned to lucascbeyeler

[2020-12-08 14:38] lucascbeyeler commented on #123
Hi Rogerio,

There is no solution for that and I do not consider this as a security problem. If you can see the password by using grep you already have access inside the host to do whatever you want.

[2020-12-08 14:38] #123 closed, assigned to lucascbeyeler

[2020-12-08 14:39] #125 closed, assigned to enribar

[2020-12-08 14:40] #36 closed

[2020-12-08 14:42] lucascbeyeler commented on #88
Bugfixed - logs are now working again and you can point the correct port used by Zimbra admin, which is probably the reason you are facing these errors. I can't replicate in my test environment because I always use 7071 - the default one.

[2020-12-08 14:42] #88 closed, assigned to lucascbeyeler

[2020-12-08 14:43] #97 closed, assigned to lucascbeyeler

[2020-12-08 14:44] #99 closed, assigned to lucascbeyeler

[2020-12-08 14:44] #100 closed, assigned to lucascbeyeler

[2020-12-08 14:44] #101 closed, assigned to lucascbeyeler

[2020-12-08 14:44] #103 closed, assigned to lucascbeyeler

[2020-12-08 14:44] #106 closed, assigned to lucascbeyeler

[2020-12-08 14:45] #107 closed, assigned to lucascbeyeler

[2020-12-08 14:45] #126 closed, assigned to lucascbeyeler

[2020-12-08 14:46] lucascbeyeler commented on #117
There is no option for now - will include in Waddles

[2020-12-08 14:46] #117 closed, assigned to nobody

[2020-12-08 14:47] #109 closed, assigned to lucascbeyeler

[2020-12-08 14:47] #113 closed, assigned to nobody

[2020-12-08 14:47] #115 closed, assigned to nobody

[2020-12-08 14:48] #127 closed, assigned to lucascbeyeler

[2020-12-08 14:48] #134 closed, assigned to lucascbeyeler

[2020-12-08 14:48] lucascbeyeler commented on #134
Fixed in 1.2.5

[2020-12-08 14:49] lucascbeyeler commented on #150
Fixed in 1.2.5 - please try again with that version

[2020-12-08 14:49] #150 closed, assigned to lucascbeyeler

[2020-12-08 14:49] lucascbeyeler commented on #142
Closing the issue - can't reproduce on 1.2.5

[2020-12-08 14:49] #142 closed, assigned to lucascbeyeler

[2020-12-08 14:50] lucascbeyeler commented on #121
Closing the issue - cant reproduce with 1.2.5

[2020-12-08 14:50] #121 closed, assigned to nobody

[2021-01-12 14:38] MiguelCSousa opened #152 "Restore issue - nothing restored"
Hello,

Just tested restore on account:

zmbackup -r -ro full-20210111190754 testmail@xxxx testrestore@xxxx
Restore mail process with session full-20210111190754 started at Tue Jan 12 14:36:41 WET 2021Account testmail@xxxx restored with success
Restore mail process with session full-20210111190754 completed at Tue Jan 12 14:36:41 WET 2021

Nothing seems to happen. And nothing is restored to the ac

[2021-01-15 09:26] SpectreInc opened #153 "No mailboxes backup after update"
Hello.
- Zmbackup Version: 1.2.5
- Zimbra Version:  8.8.15_ga_3991.FOSS
- Linux Distribution & Version: CentOS Linux release 7.9.2009

After updating from 1.2.3 to 1.2.5 my backup seem to broken and I can't figure out why.
On 1.2.3 I got incremental backups like :

 Here some information about this session:
Size: 6.9M
Accounts: 30
Status: SUCCESS
Regards,
Zmbackup Team
Summary of files:
SESSION: i

[2021-01-16 00:11] HcKTR opened #154 "Question: how do I backup only one mailbox account?"
Hello, I start a backup in my ldap server as "zmbackup -f -m 1test@zimbratest.com" but it starts a full backup. How can I get 1test@zimbratest.com mailbox backup only? If I'm wrong, can you correct it please?

zmcontrol -v
Release 8.8.8_GA_2009.RHEL7_64_20180322150747 RHEL7_64 FOSS edition.

zmbackup -v
zmbackup version: 1.2.5

[2021-01-16 00:15] HcKTR commented on #153
Hello, I am having the same situation. Honestly, I thought I was doing wrong. The command I entered: zmbackup -f -m 1test@zimbratest.com
I guess there is a problem with the restore as well.

[2021-01-16 17:14] killmasta93 opened #155 "restoring issue"
Hi
currently trying to restore a full backup but it says restore completed but does not restore

[code]

[code]
![image](https://user-images.githubusercontent.com/13953629/104818240-5b47c900-57f4-11eb-9a1b-349560714a05.png)

Then i tried to restore with this option but screwd my zimbra server, i had to restore from backup
[code]

[2021-01-16 18:57] lucascbeyeler commented on #155
Hi, which version?

[2021-01-16 19:44] killmasta93 commented on #155
thanks for the reply running 1.2.5

[2021-01-18 13:38] lucascbeyeler commented on #155
That's probably Zimbra - their API is broken for backing and restoring data for a long time.

[2021-01-18 14:23] killmasta93 commented on #155
thanks for the reply, so im able to restoring running this command

`su - zimbra -c "zmmailbox -z -m sistemas@mydomain.com postRestURL '//?fmt=tgz&resolve=skip' /mnt/full-20210110013003/sistemas@mydomain.com.tgz";`

[2021-01-18 16:31] lucascbeyeler commented on #155
possible - give it a try. Worst case scenario I change the code to use this CLI command instead

[2021-01-18 17:12] killmasta93 commented on #155
so the above command works to restore, but the zmbackup command line does not

[2021-01-19 10:53] HcKTR commented on #155
Hello, thank you for your return. I haven't tried it yet. I took note of this command.

[2021-01-25 00:00] soniqsoft opened #156 "Can't make ldap backup with sudo -u zimbra"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version:  1.2.5
- Zimbra Version: 8.8.15
- Linux Distribution & Version: Ubuntu 18.04.5 LTS

##### SUMMARY

Hi,
I'm trying to run full and incremental backups with zmbackup cron included in package.
Unfortunately can't get it done due to ldap backup fail with messages:
[code]

However I can:
[code]
without any issue.

I've got let

[2021-01-26 18:53] fug-azi opened #157 "Error with -d or -a options"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.5
- Zimbra Version: 8.8.15
- Linux Distribution & Version: CentOS 7

##### SUMMARY

Hello,
I'm trying to run full backup with ZMBACKUP with the option -d (one domain backup) or -a (one account backup).
With the -d option backup fail with message:
"ERROR - Can't extract accounts from LDAP - See log for more information

[2021-01-27 09:56] lucascbeyeler commented on #154
The option is -r not -f

[2021-01-28 18:20] karvox commented on #154
zmbackup can't get mailbox messages backup, just only ldif entries!? Why?

[2021-01-31 21:35] lucascbeyeler commented on #154
Please open a different ticket but the problem is not Zmbackup. It's Zimbra - the API for a long time is bugged.

[2021-02-01 18:19] EgemenErol commented on #155
A restore attempt broke my installation as well. It seems to be the ldiff replay that's breaking the ldap database. Ldap is then no longer accessible and after a restart zimbra can't get all services up and running.

zmbackup -r full-20210128163246 -ldp -a windows@domain.de --> This is breaking ldap

./libexec/zmslapadd /mnt/mail_backup2/zimbrabackup/full-20210128163246/windows\@domain.de.ldiff --

[2021-02-01 23:56] killmasta93 commented on #155
yeah thats why for now only restoring mailbox using the command, waiting till the new update to fix this issue

`su - zimbra -c "zmmailbox -z -m sistemas@mydomain.com postRestURL '//?fmt=tgz&resolve=skip' /mnt/full-20210110013003/sistemas@mydomain.com.tgz";`

[2021-02-06 18:53] lucascbeyeler commented on #155
Hi,

I did not release yet a new version but for the latest commit I'm using zmmailbox. Could you please try again with that version and see if the problem persists?

[2021-02-06 18:55] #154 closed, assigned to nobody

[2021-02-06 18:57] lucascbeyeler commented on #153
Hi,

I made some changes to 1.2-version branch. Could you try again, please?

[2021-02-06 19:01] lucascbeyeler commented on #153
Duplicate of #155

[2021-02-06 19:01] #153 closed, assigned to nobody

[2021-02-06 19:01] lucascbeyeler commented on #152
Duplicate of #155

[2021-02-06 19:01] #152 closed, assigned to nobody

[2021-02-06 19:03] lucascbeyeler commented on #156
According to EgemenErol:

A restore attempt broke my installation as well. It seems to be the ldiff replay that's breaking the ldap database. Ldap is then no longer accessible and after a restart zimbra can't get all services up and running.

zmbackup -r full-20210128163246 -ldp -a windows@domain.de --> This is breaking ldap

./libexec/zmslapadd /mnt/mail_backup2/zimbrabackup/full-20210128163246/w

[2021-02-06 19:20] lucascbeyeler commented on #156
I made a couple of changes for the LDAP restore and I believe should be working. Still testing just to make sure it will not break again.

[2021-02-06 19:33] lucascbeyeler commented on #157
According to EgemenErol:

A restore attempt broke my installation as well. It seems to be the ldiff replay that's breaking the ldap database. Ldap is then no longer accessible and after a restart zimbra can't get all services up and running.

zmbackup -r full-20210128163246 -ldp -a windows@domain.de --> This is breaking ldap

./libexec/zmslapadd /mnt/mail_backup2/zimbrabackup/full-20210128163246/w

[2021-02-06 19:33] lucascbeyeler commented on #157
I made a couple of changes for the LDAP restore and I believe should be working. Still testing just to make sure it will not break again.

[2021-02-06 19:39] lucascbeyeler commented on #156
I will take a look at this

[2021-02-07 22:57] SpectreInc commented on #153
Hello Lucas,

I installed  the new version, and as far as I can see it works. Will
post an update if it runs with incrementals for a week till the next
Full update.
thanks for the update

On 06-02-2021 19:57, Lucas Costa Beyeler wrote:

[2021-02-08 00:08] soniqsoft commented on #156
Great! Thanks!

[2021-02-08 03:19] killmasta93 commented on #155
thanks for the reply, should i update it? and retry this command?
`
zimbra@mail:/root$ zmbackup -r -m  full-20210110013003  sistemas@mydomain.com`

[2021-02-08 17:10] lucascbeyeler commented on #155
yes, please

[2021-02-09 04:12] killmasta93 commented on #155
so i tried the following updated to 1.2.6 and restored another mailbox but i got this

[code]

i checked the size
[code]

Thank you

[2021-02-10 14:44] lucascbeyeler commented on #155
zimbra@mail:/root/zmbackup$ zmbackup -r -m full-20210207013003 contabilidad@mydomain.com

[2021-02-11 08:52] urge-2021 opened #158 "zmbackup restore problem"
##### ENVIRONMENT VERSION
- Zmbackup Version:1.2.3
- Zimbra Version:8.8.10
- Linux Distribution & Version: centos 7

##### SUMMARY

##### STEPS TO REPRODUCE
[code]

##### ACTUAL RESULTS
[code]

[2021-02-11 18:29] lucascbeyeler commented on #158
What is the issue? Did you tried a new version?

[2021-02-11 18:29] #158 closed, assigned to nobody

[2021-02-12 14:15] HcKTR opened #159 "Backup and restore to another mb server"
Hello, I am using the latest version of zmbackup.
zmbackup version: 1.2.5
Release 8.8.8_GA_2009.RHEL7_64_20180322150747 RHEL7_64 FOSS edition.
One of my Mailbox servers is about to have a full disk. After I backup some accounts with zmbackup, I want to delete them from mailbox1 server and return to mailbox2 server from backup. How can I do it?

[2021-02-13 14:23] lucascbeyeler commented on #159
Hello,

1 - Use the 1.2.6 for that... it's more stable for that activity.

2 - Why not use live_sync instead? As far as I know, would take you less effort than create the backup, copy to another server, and them upload the copy.

Live Sync: https://wiki.zimbra.com/wiki/Server_Live_sync

[2021-02-13 20:36] HcKTR commented on #159
Hello, thank you for your answer. I just started using Zimbra and I have difficulty with some issues. I have a system with 2 proxies, 2 ldap, 3 mysql, 5 mb and 4 mta. I have reviewed the server live sync document, but I do not fully understand which servers to install. I didn't want to try it on mailbox servers, because i thought it would cause problems in the system. I don't want to process witho

[2021-02-14 15:23] lucascbeyeler commented on #159
Hey,

I would say go ahead with zmbackup... it will be easier. Install inside the same server you have zmmailbox CLI. It´s required because the Zimbra API is not working for a long time for backup and the only way we found to download the mailbox was using the zmmailbox. That server also needs to have access to the LDAP server.

Just download the mailbox using zmbackup, move to the new server, and

[2021-02-15 09:48] HcKTR commented on #159
Hi Lucas,
I installed zmbackup on my mailbox server. This server is my backup server. After I get the backup, I will go to my other mailbox server and try to restore the backup.

I deleted the "/etc/cron.d/zmbackup" file after zmbackup installation. Because my ldap server is doing backups. I will tell you step by step this process I live. If you have permission, I want to share it on my blog.

Now

[2021-02-15 10:51] HcKTR commented on #159
I couldn't do it with zmbackup, but I think I succeeded in the steps I did below. Mails were successfully added and I successfully sent and received mails.

1- Mailbox1 server:
root login:
- mkdir /backup
- chown zimbra.zimbra /backup
- su zimbra
- zmmailbox -z -m mail@mail.com getRestURL "//?fmt=tgz" > /backup/mail@mail.com

2- Go to Zimbra Admin:
- I login to zimbra admin and renamed mail@mail.c

[2021-03-14 11:18] lucascbeyeler commented on #155
Closing the ticket because of inactivity - if the problem persists please feel free to reopen.

[2021-03-14 11:19] lucascbeyeler commented on #159
Hey @HcKTR

Yeah... it´s basically zmbackup with the option -m

[2021-03-14 11:21] lucascbeyeler commented on #157
Closing the ticket - the version 1.2.6 should be working again.

[2021-03-14 11:21] #157 closed, assigned to nobody

[2021-03-14 11:27] lucascbeyeler commented on #156
Could you try executing this command before zmbackup?

export LDAPTLS_REQCERT=never

[2021-03-17 03:09] killmasta93 commented on #155
thanks for the reply, and sorry for the late reply, so i retied and got this error

[code]

[2021-04-04 11:05] lucascbeyeler commented on #155
You are using -m option for an account that does not exist. That´s the issue

[2021-04-04 22:57] killmasta93 commented on #155
Thanks for the reply. it says the account does not exist but it does, i tried another account to see what happens, whats odd is that not sure why it shows like n/gky

[code]
`
-rwxr-xr-x 1 zimbra zimbra 1.3K Apr  3 01:34 sky@mydomain.com.co.tgz`

Thank you

[2021-04-05 08:57] lucascbeyeler commented on #155
I mean not the file, I mean the account inside zimbra server... -m is just to restore the e-mails and nothing more. And that´s not Zmbackup error - that´s your mailserver error

[2021-04-07 03:05] killmasta93 commented on #155
thanks for the reply, but the account sky@mydomain.com.co does exist

![image](https://user-images.githubusercontent.com/13953629/113804459-2cbaf980-9724-11eb-8b09-a2457c292827.png)

[2021-04-14 06:13] wh4u opened #160 "After restoring without the -ro arguement ldap failed"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.5
- Zimbra Version:  Release 8.8.15.GA.3869.UBUNTU18.64 UBUNTU18_64 FOSS edition, Patch 8.8.15_P20
- Linux Distribution & Version: Ubuntu 18.04.5 LTS

i tried to restore a mailbox using
zmbackup -r -ro inc-20210413013001 user@mydomain.tld user@mydomain.tld

command finished successfully but the mailbox is empty.

I ac

[2021-04-14 14:47] wh4u commented on #155
The same behavior occurred to me also

[2021-04-25 20:10] killmasta93 commented on #155
any updates?

[2021-05-14 18:55] jimgrove1985 opened #161 "Cron Job doesn't appear to be backing up correctly"
ISSUE TYPE: Bug Report / Question (as this may be user error on my part)

ENVIRONMENT VERSION:
- Zmbackup Version: 1.2.6
- Zimbra Version: 8.8.15_GA_4018.FOSS
- Linux Distribution & Version: CentOS 7.9.2009 Core

SUMMARY:
If I manually run the "zmbackup -f" command as the user: zimbra, a complete backup appears to be created of all accounts on my mail server and it produces a full backup of around

[2021-05-17 22:39] killmasta93 commented on #161
could you show me your cron job

[2021-05-17 22:39] killmasta93 commented on #155
bump?

[2021-05-18 11:38] jimgrove1985 commented on #161
Strangely it looks like it may be working fine now.

I have just checked the backups and it generated a new full backup on Sunday, which is as to be expected based on the cron job settings and this was the expected full size.

I shall keep an eye on things for now and report back if I notice anything unexpected

[2021-05-18 21:01] maximishchenko opened #162 "Backup single account error"
Hi.
I am got an error, when try to backup single mailbox

[zimbra@mail bash]$ zmbackup -f -m -a my@example.com
/usr/local/lib/zmbackup/bash/BackupAction.sh: строка 100: my@example.com//,/\n/g: No such file or directory
Nothing to do. Closing...

How can i make backup of single account or list of accounts?

[2021-05-23 17:50] jimgrove1985 commented on #161
OK, so I've left it running for a few days now and something definitely does not seem correct.

Here is the output of zmbackup -l ran under the zimbra user:

+---------------------------+--------------+--------------+----------+----------------------------+
|       Session Name        |    Start     |    Ending    |   Size   |        Description         |
+---------------------------+-------------

[2021-05-26 00:11] killmasta93 commented on #161
change you see inside of the full-20210516013001
run `ls -l -h` to see which emails were backup

and
full-20210523013001

[2021-06-02 06:32] nugzarg commented on #160
The same problem with version 1.2.6. After trying to restore account from backup, zimbra is completely damaged. Some services (like zmmaiboxd, zmlogd) are crashed. Starting of these services is not possible. It seems that this tool damages zimbras LDAP database.
This tool is very dangerous! Do not use it on production server! If you wish to test it, have a backup of LDAP database (make it with /op

[2021-06-22 08:46] samrocks1011 opened #163 "Question: Can we restore the Deleted User mailbox using zmbackup."
@lucascbeyeler

I would like to know if we can restore the deleted user from the Backup.

Regards,
Sandeep Patel

[2021-06-22 22:37] killmasta93 opened #164 "Cronjob question?"
Hi,
I was wondering if its possible to backup full every 3 months i tried this

`0 0 1 */3 *     zimbra    zmbackup -f`

but not sure how i can test it?

Thank you

[2021-06-22 22:40] killmasta93 commented on #163
go to the restore file you want

`zmbackup -r -m inc-20200410003052 youemail@domain.com`

[2021-06-22 22:41] killmasta93 commented on #162
run this to backup only one email

`zmbackup -f -a email@domain.com`

[2021-06-23 06:20] maximishchenko commented on #162
I still get the error

[code]

[2021-06-23 07:12] samrocks1011 commented on #163
@killmasta93

So the script will create the user again and restore it. Or we need to create the user first and that run the restore command.

[2021-06-24 04:05] killmasta93 commented on #162
can you show me output of

` cat /etc/zmbackup/zmbackup.conf
`

[2021-06-24 04:06] killmasta93 commented on #163
create the user first

then run the command that i gave you

[2021-06-24 05:25] maximishchenko commented on #162
[root@mail ~]# cat /etc/zmbackup/zmbackup.conf
###############################################################################
#                        ZMBACKUP CONFIGURATION FILE                          #
###############################################################################
# This file is used to manage the behavior of the zmbackup. Please edit with
# cautious this file. All the values

[2021-06-24 10:52] samrocks1011 commented on #163
@killmasta93  Thank You.

I do the same.

[2021-06-24 10:52] #163 closed, assigned to nobody

[2021-06-25 08:52] alexchini opened #165 "Incremental backup do only one account"
Hi,
maybe is not clear for me how this work, but we have a weird problem in a zimbra server with 300 users the full backup work fine instead the incremental backup (zmbackup -i) do only one account, no error in the log.

Someone can help us?

Thanks

[2021-06-25 14:05] killmasta93 commented on #162
could you reinstall zmbackup

first uninstall it

`running the script install.sh with -r`

[code]
You will get a certain of questions answer the following

[code]

[2021-06-25 14:07] killmasta93 commented on #165
find the location of zmbackup

`usr/local/bin/zmbackup`

add the -x to the script and run it manually to see the debug

`#!/bin/bash -x`

[2021-06-28 12:14] cvdgenugten commented on #162
Same here..

zimbra@postoffice:~$ zmbackup -i -a admin@coredata.app
/usr/local/lib/zmbackup/bash/BackupAction.sh: line 100: admin@coredata.app//,/\n/g: No such file or directory
Nothing to do. Closing.

[2021-06-28 12:36] cvdgenugten commented on #162
on line 100 the script itirates through $4//,/\n/g in variable $i to add them to file $TEMPACCOUNT.
However, it crashes on the $4//,/\n/g.

GNU bash, version 4.4.20(1)-release (x86_64-pc-linux-gnu)
In my case, admin@coredata.app is used, and bash is trying to RUN on line 100:
$("admin@coredata.app//,/\n/g")

which doesn't make sense..
zimbra@postoffice:~$ $("admin@coredata.app//,/\n/g")
bash: admi

[2021-06-28 12:41] cvdgenugten commented on #162
Are you trying to search and replace comma's for newlines by any chance?
This does not seem to work in bash 4.4.20 in your script.
Can you rewrite?

[2021-06-28 12:55] cvdgenugten commented on #162
assuming you wish to replace comma's for newlines by any chance, the following should work in bash:

[code]

[2021-06-30 10:26] bunglyboo opened #166 "the backup is not created correctly"
Hi

The backup is not created correctly. if the volumes for storing messages and indexes are not default.

In the zmbackup settings there is no setting for specifying the volumes of messages and indexes.

![2021-06-30_14-19-14 (2)](https://user-images.githubusercontent.com/53763916/123945247-00bfb500-d9af-11eb-8e6f-6cda3b552e19.jpg)

[2021-08-06 16:51] mathcuei commented on #160
Same ENVIRONMENT and same problem. Corrupt ldap and services.

[2021-08-22 10:22] soniqsoft opened #167 "Emails are not recovered correctly from full bakcup"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.26
- Zimbra Version: 8.8.15_GA_3869
- Linux Distribution & Version: Ubuntu 18.04 LTS

##### SUMMARY
Started to recover email account with m option (mailbox only) and received recovered partially with error:
ERROR: zclient.IO_ERROR (Read timed out) (cause: java.net.SocketTimeoutExce|
ption Read timed out)

##### STEPS TO

[2021-10-08 08:42] krull opened #168 "Bash For loop in ListAction.sh breaks -d domain full backup of zmbackup with domains that have the letter 's' on them"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.6
- Zimbra Version: 8.8.15_GA_3945.FOSS
- Linux Distribution & Version: Ubuntu 18.04.4 LTS

##### SUMMARY
[code]

Bash For loop in ListAction.sh breaks -d domain full backup of zmbackup with domains that have the letter 's' on them

##### STEPS TO REPRODUCE
[code]
with `#!/bin/bash -x`, the result above will have an o

[2021-10-08 08:46] krull commented on #168
Hello,

This bug report was reproduced with the following; I have several domains that include the letter 's' and ones without.

The ones without successfully backup, however the ones with 's' did not.

I remedied the issue by changing the following in `ListAction.sh` file:

[code]
Not certain if it will break other logics on your script, but it passed correctly the domain with 's' to the ldapsear

[2022-01-04 13:02] lomikas1 opened #169 "zmbackup -r corrupts ldap directory - error in lib/bash/ParallelAction.sh"
##### ISSUE TYPE
- Bug Report

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.6
- Zimbra Version: 8.8.15
- Linux Distribution & Version: Ubuntu 18.04.6 LTS

##### SUMMARY
Restoring ldap entiies from full backup ( in my case to new installation of Zimbra) causing full corruption of ldap directory

##### STEPS TO REPRODUCE
[code]

##### ACTUAL RESULTS
[code]

[2022-01-11 16:56] vdeville commented on #169
Hello
Yes this code fix one of bug,
For me i'v had the error Ldap bind ldap_bind: Confidentiality required (13)
To fix this i have added -Z arg to ldapdelete and ldapadd

Thanks

[2022-01-22 16:51] thiagolinhares commented on #162
Tried your approach and worked for me too.
Bash version:
GNU bash, version 4.2.46(2)-release (x86_64-redhat-linux-gnu)

I wonder if you could submit a PR so maintainer could update this?

[2022-02-17 14:07] thiagowarwick opened #171 "zmbackup error"
hello, I'm having the following problem when trying to backup an open mailbox:
zimbra@mail:/usr/local/lib/zmbackup/bash$ zmbackup -f -a thiago.marinho@dominio.com
/usr/local/lib/zmbackup/bash/BackupAction.sh: line 100: thiago.marinho@dominio.com//,/\n/g: No such file or directory
Nothing to do. Closing...

##### ISSUE TYPE
- Bug Report
- Feature Idea
- Question
- Enhancement

##### ENVIRONMENT VER

[2022-02-17 14:15] thiagowarwick commented on #162
Same here..
help, please.

zimbra@mail:/usr/local/lib/zmbackup/bash$ zmbackup -f -a thiago.marinho@dominio.com
/usr/local/lib/zmbackup/bash/BackupAction.sh: line 100: thiago.marinho@dominio.com//,/\n/g: No such file or directory
Nothing to do. Closing...

[2022-02-17 14:50] uhlhosting opened #172 "How to run this on Centos 6 EOL"
##### ISSUE TYPE
- Bug Report
- Feature Idea
- Question
- Enhancement

##### ENVIRONMENT VERSION
- Zmbackup Version:
- Zimbra Version:
- Linux Distribution & Version:

##### SUMMARY

##### STEPS TO REPRODUCE
[code]

##### ACTUAL RESULTS
[code]

How can we run this on Centos 6 EOL, what packages are needed to be installed manually?

[2022-02-17 20:15] cvdgenugten commented on #162
@thiagowarwick I don't think the maintainer is responding to this issue, at least I haven't seen him here.
If you edit /usr/local/lib/zmbackup/bash/BackupAction.sh and change line 100 from:
`for i in $("$4//,/\n/g"); do`
to:
`for i in $( echo $4 | sed 's/,/ /g' ); do`
all should work. I've been using this in production for some time now, restoration of single mailboxes works fine, no issues after

[2022-02-17 21:46] thiagowarwick commented on #162
Thank's my friend.
this worked for me! Congratulations!!!

[2022-02-17 21:55] cvdgenugten commented on #162
haha, I didn't know I wrote that in Portuguese ;)

Prazer & boa sorte,
Tchau!

[2022-04-18 17:44] protontrigg3r opened #173 "Error moving webdav directory"
I am trying to store the backup files in Mega.nz.

- '/mnt/mega' is the directory where I mounted the MEGA-WEBDAV share
- '/opt/zimbra/backup' is a symlink to '/mnt/mega'  and 'zimbra' user can to work on it

Everything runs smoothly until it's time to move the working directory:

`mv: cannot move '/opt/zimbra/backup/nAWY' to '/opt/zimbra/backup/full-20220418185514': Input/output error`

This is t

[2022-04-21 06:08] #173 closed, assigned to nobody

[2022-04-25 20:10] IncubuzzCC opened #174 "Empty mailbox backup files when "Public Service Host Name" is configured."
##### ISSUE TYPE
- Question

##### ENVIRONMENT VERSION
- Zmbackup Version: 1.2.6
- Zimbra Version: 8.8.15
- Linux Distribution & Version: Ubuntu 18.04.6 LTS

##### SUMMARY
Mailbox backup files are empty (0 bytes) when "Public Service Host Name" is configured.

##### STEPS TO REPRODUCE
[code]
##### ACTUAL RESULTS
[code]
Is this an expected behavior?
![Screenshot from 2022-04-25 13-57-53](https://us

[2022-04-27 00:08] ananiasfilho commented on #164
You are right!
Look it:
30 0 1 */3 * zimbra zmbackup -f
At **_00:30_** on **_day-of-month 1_** in **_every 3rd month_** (month 3,6,9 and 12).

[2022-04-27 00:11] ananiasfilho commented on #171
Have you been solved your issue? If not, can you please describe your environment so we can help better.

[2022-04-27 00:21] ananiasfilho commented on #166
can you please test running manual backup with zmmailbox and show us the result.
_**zmmailbox -z -m user@example.com getRestURL "//?fmt=tgz" > /backup/user@example.com.tar.gz**_

[2022-04-27 00:25] ananiasfilho commented on #172
You will need some python packages and required packages as described on installation procedures
**_yum install parallel wget curl sqlite3_**
So, you need check how install these packages to run it.
My sugestion is:
Try using z2z (https://github.com/BktechBrazil/Z2Z)
1 - install a new zimbra with latest version and updated OS as CentOS 7 or Ubuntu 18.04 or 20.04.
2 - full backup with z2z procedure

[2022-04-27 00:27] ananiasfilho commented on #174
if you set public hostname, then domain only can use this spcific hostname, so you will need change server hostname on zmbackup.

[2022-04-27 00:29] ananiasfilho commented on #167
Its said "Time Out"
Try restore backup using zmmailbox

zmmailbox -z -m user@example.com **_-t 0_** postRestURL "//?fmt=tgz&resolve=reset" /backup/user@example.com.tar.gz

-t 0 is the tip that say to zmmailbox to run command without timeout limit.

[2022-04-27 00:37] ananiasfilho opened #175 "S3 storage backup destination"
Send backups to a S3 Storage bucket like AWS S3, MinIO, Wasabi

##### ISSUE TYPE
- Feature Idea
##### ENVIRONMENT VERSION
- Zmbackup Version: Any
- Zimbra Version: Any
- Linux Distribution & Version: Any

##### SUMMARY
As many zimbra users need send backup files to a external storage, S3 solutions are good and cheap options.
The idea is:
Make backup of each account and send each file to a S3 bucke

[2022-04-27 01:19] #164 closed, assigned to nobody

[2022-04-27 11:07] thiagowarwick commented on #171
Good morning! Solved, thank you.

[2022-04-27 11:07] #171 closed, assigned to nobody

[2022-04-27 22:05] soniqsoft commented on #167
Thank you @ananiasfilho!
I found it earlier but forgot to mention it here.
Thanks a lot anyway.

[2022-04-27 22:06] #167 closed, assigned to nobody

[2022-05-30 09:57] protontrigg3r commented on #175
A better idea might be a generic _**Remote Storage Backup Bestination**_ by taking the code from [rclone](https://github.com/rclone/rclone) to connect remote storage ...

[2022-05-30 16:49] ananiasfilho commented on #175
IMHO we need a integrated solution. rclone is good but not integrated with ZmBackup procedures and will be more one service/software on Zimbra. When i proposed this, i was thinking on:
if i have 2TB backup, i dont need have 2TB FREE on my server to store backup and dont run backup store remote (slow procedure - NFS, SMBFS/CIFS, etc). The idea is: run 10-20GB backup of account/email and when finish

[2022-05-31 06:34] protontrigg3r commented on #175
I agree with you, in fact I didn't write "using rclone" but "taking the code from rclone"

very interesting ...

[2022-08-30 15:53] tofuSCHNITZEL commented on #168
it also breaks if there is an "n" in the email adress because it gets substituted with g. "\s" and "\n" does not not work with bash substitution.
you can check out the proper fix here:
https://github.com/tofuSCHNITZEL/zmbackup/commit/d5028344feb83342d73e5977dfc138c404a913cc

[2022-08-30 20:57] tofuSCHNITZEL commented on #155
this is fixed here:
https://github.com/tofuSCHNITZEL/zmbackup/commit/d5028344feb83342d73e5977dfc138c404a913cc
the bash replacement was not working as intended

[2022-08-30 20:59] tofuSCHNITZEL commented on #162
this is fixed here:
https://github.com/tofuSCHNITZEL/zmbackup/commit/d5028344feb83342d73e5977dfc138c404a913cc

[2022-10-07 08:47] salmanTW opened #179 "/usr/local/lib/zmbackup/bash/BackupAction.sh: line 95: all//,/\n/g: No such file or directory"
While trying the below command getting the error in CLI.
Please help me here what is going wrong here.

[zimbra@mail ~]$ zmbackup -f -a all

/usr/local/lib/zmbackup/bash/BackupAction.sh: line 95: all//,/\n/g: No such file or directory
Nothing to do. Closing...

[2022-11-03 09:08] mnaeemrao opened #180 "Zimbra Full Backup/Incremental Backup Issue"
Hello I am using Zimbra Release 8.7.11_GA_1854.RHEL7_64_20170531151956 RHEL7_64 FOSS edition. I sheduled Zimbra full backup, incremental backup & alias backup through cron job. After 30th September zmbackup is not executing/running. When i run backup -f command thrugh zimbra user I get the output:

parallel: This should not happen. You have found a bug.
Please contact <parallel@gnu.org> and includ